
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="slider-top" class="hidden-xs">
    <div class="container fill">
        <div id="carousel-slider-top-home" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="active item">
                    <div class="fill" style="background-image:url('/images/house-grayscale.jpg');">
                        <div class="container">
                            <div class="huongdan_tab1_icon" style="height: 560px !important;">
                                <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab1_1">Freeze sensor</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"><p><a title="ENERGY" href="#" style="color:#ffffff;">ENERGY</a></p></div>
                </div>
            </div>           
        </div>
       
        <div class="col-md-3 huongdan_tab"><p class="huongdan_tab_p"><a title="NĂNG LƯỢNG" href="#" class="huongdan_tab_a">NĂNG LƯỢNG</a></p></div>
        <div class="col-md-3 huongdan_tab2"><p class="huongdan_tab_p"><a title="AN NINH" href="#" class="huongdan_tab_a">AN NINH</a></p></div>
        <div class="col-md-3 huongdan_tab3"><p class="huongdan_tab_p"><a title="TIỆN NGHI" href="#" class="huongdan_tab_a">TIỆN NGHI</a></p></div>
        <div class="col-md-3 huongdan_tab4"><p class="huongdan_tab_p"><a title="AN TOÀN" href="#" class="huongdan_tab_a">AN TOÀN</a></p></div>
    </div>
</section>

