
@{
    ViewBag.Title = "Trở thành đại lý của Zipato Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<!-- #Wrapper -->
<div id="Wrapper">
    <!-- #Content -->
    <div id="Content">
        <div class="content_wrapper clearfix">
            <!-- .sections_group -->
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">

                    <!-- SUB MENU -->
                    <div class="section  no-margin sub_menu_container  column-margin-0px"
                         style="padding-top:0px; padding-bottom:0px; background-color:">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-fourth column_visual breadcrumbs-name">
                                    <h4 class="tX20499"
                                        style="text-align: left;">
                                        Giới Thiệu | Tổng Quan
                                    </h4>
                                </div>
                                <div class="column three-fourth column_column breadcrumbs-nav">
                                    <div class="column_attr align_right" style="">
                                        <div class="menu-what-is-zipato-container">
                                            <ul id="submenu_top" class="submenu_top">
                                                <li id="menu-item-15641"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                                    <a href="/Partner/">Tổng quan</a>
                                                </li>
                                                <li id="menu-item-77"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                                                    <a href="/Partner/Reg">Đăng Ký</a>
                                                </li>
                                                <li id="menu-item-93"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                                    <a href="/Partner/Log">Đăng Nhập</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
                        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_visual ">
                                    <h1 style="text-align: center;"><span style="font-size: 54px;" class="tX02736">TRỞ THÀNH ĐỐI TÁC ĐẠI LÝ</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section  no-margin  " style="padding-top:0px; padding-bottom:0px; background-color:#ffffff">
                        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_visual "><h2 style="padding-top: 60px;" class="tX02739">Chia Sẻ Tầm Nhìn</h2><p style="padding-left: 0px;" class="tX02738">Chúng tôi không ngừng mở rộng dòng sản phẩm tự động hóa và giám sát sản phẩm. Là một công ty đang phát triển, chúng tôi luôn sẵn sàng hợp tác với những người chia sẻ tầm nhìn của chúng tôi về ngành công nghiệp tự động hóa nhà và xây dựng và những người có thể cung cấp những ý tưởng mới và quan điểm để nâng cao hơn nữa sản phẩm và dịch vụ của chúng tôi.</p><p style="padding-left: 0px;" class="tX02737">Chúng tôi hoan nghênh các yêu cầu về hợp tác với chúng tôi để phát triển, sản xuất và phân phối (bao gồm cả việc gắn nhãn riêng cho sản phẩm của chúng tôi) các giải pháp cho ngôi nhà, tòa nhà, và các doanh nghiệp. Dựa trên các sản phẩm và dịch vụ sáng tạo mà chúng tôi đang phát triển, có những cơ hội hợp tác và liên doanh cho những người trong ngành an ninh, năng lượng, môi trường, xây dựng và viễn thông:</p></div><div class="column one-second column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/images/become-a-partner-zipato-min-1.png" alt="" width="417" height="360"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
                        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-third column_icon_box tX20440">
                                    <div class="animate zoomIn" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/images/gears.png" alt="Systems Integrators" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Tích Hợp Hệ Thống</h4>@*<div class="desc">Be part of an emerging technology with the ability to connect home devices with home owners for the purpose of monitoring and managing home security, energy and comfort.</div>*@</div></div>
                                    </div>
                                </div><div class="column one-third column_icon_box tX20441">
                                    <div class="animate zoomIn" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/images/property-developer2.png" alt="Property Developers" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Bất Động Sản</h4>@*<div class="desc">Differentiate and enhance your new properties with our Smart Building solutions to complement your environmentally friendly and low-energy designs to offer your tenants and customers an integrated suite of Energy Management, Building Automation and Security solution.</div>*@</div></div>
                                    </div>
                                </div><div class="column one-third column_icon_box tX20442">
                                    <div class="animate zoomIn" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/images/home.png" alt="Property Owner" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Chủ Sở Hữu</h4>@*<div class="desc">Increase the technical and structural performance of your portfolio. Reduce operating cost and optimize your service level agreement. At the same time, allow your tenants to perform a DIY Energy Audit by deploying our solution on your own and get real time analytics that allow you to perform a detailed analysis of the energy usage in your premises.</div>*@</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
                        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-third column_icon_box tX20443">
                                    <div class="animate zoomIn" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/images//houses.png" alt="Facilities Management companies" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Công ty quản lý thiết bị</h4>@*<div class="desc">Offer your clients a complete solution to manage multiple properties from a central location complete with an Energy Dashboard, powerful analytics and visualization tools. Offer new and exciting solutions to integrate home security, energy management, media and telemedicine through one single access point.</div>*@</div></div>
                                    </div>
                                </div><div class="column one-third column_icon_box tX20444">
                                    <div class="animate zoomIn" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/images//energy-consumption.png" alt="Energy Service Companies" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Công ty dịch vụ năng lượng</h4>@*<div class="desc">Take advantage of our simple and modular meters to collect real time interval consumption data and perform sub-metering even for each piece of equipment. Then use our powerful monitoring tools and analytics to help identify opportunities for energy optimization and to make the right decisions to reduce energy usage for your customers.</div>*@</div></div>
                                    </div>
                                </div><div class="column one-third column_icon_box tX20445">
                                    <div class="animate zoomIn" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/images//tv.png" alt="Telcos and Cable TV Operators" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Nhà khai thác viễn thông và truyền hình cáp</h4>@*<div class="desc">Offer new and exciting solutions to your customers, like: home security, energy management, media and telemedicine, all through one single access point.</div>*@</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
                        <div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h2 style="text-align: center;"><span style="color: #000000; font-size: 45px;"><a style="color: #000000;" href="https://www.zipato.com/for-partners/become-a-zipato-dealer/" class="tX02740">Become a Zipato Dealer</a></span></h2>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="section the_content no_content">
                        <div class="section_wrapper">
                            <div class="the_content_wrapper"></div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- .four-columns - sidebar -->

        </div>
    </div>

