@{
    ViewBag.Title = "Login Partner";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<style>
    span.wpcf7-form-control-wrap {
        width: 100%;
        position: relative !important;
        display: inline-block;
        margin-bottom: 3px;
    }

    .wpcf7-form-control-wrap {
        position: relative;
    }

    span.wpcf7-form-control-wrap .wpcf7-quiz, span.wpcf7-form-control-wrap .wpcf7-select, span.wpcf7-form-control-wrap .wpcf7-text, span.wpcf7-form-control-wrap .wpcf7-textarea {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea, .woocommerce .quantity input.qty {
        background-color: #fff;
        color: #626262;
        -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
        box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
    }

    input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
        padding: 10px;
        outline: none;
        margin: 0;
        width: 230px;
        max-width: 100%;
        display: block;
        margin-bottom: 20px;
        font-size: 13px;
        border-width: 1px;
        border-style: solid;
        border-radius: 0;
        box-sizing: border-box;
        -webkit-appearance: none;
    }

    .button-stroke input[type="submit"] {
        border-color: #FFFFFF;
        background-color: #A0CE4E !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
        width: 100% !important;
        height: 50px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        color: #ffffff !important;
    }

    .button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme .button_icon i, .button-stroke a.tp-button.button_theme, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"], .button-stroke input[type="button"] {
        border-color: #1d1d1c;
        color: #1d1d1c !important;
    }

    .wpcf7 input:focus, .wpcf7 textarea:focus {
        background-color: #f5faed !important;
    }

    .button-stroke {
        border-color: #1d1d1c;
        background-color: #A0CE4E !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        width: 100% !important;
        height: 50px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
    }
</style>

<!-- SUB MENU -->
<div class="section  no-margin sub_menu_container  column-margin-0px"
     style="padding-top:0px; padding-bottom:0px; background-color:">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name">
                <h4 class="tX20499"
                    style="text-align: left;">
                    Login
                </h4>
            </div>
            <div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-what-is-zipato-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15641"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                <a href="/Partner/IndexEn">Overview</a>
                            </li>
                            <li id="menu-item-15642"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                <a href="/Partner/ListEn">Dealer Locator</a>
                            </li>
                            <li id="menu-item-77"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                                <a href="/Partner/RegEn">Register</a>
                            </li>
                            <li id="menu-item-93"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                <a href="/Partner/LogEn">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section   dealerForm-reg " style="padding-top: 60px; padding-bottom: 0px; display: block;">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_column dealerRegForm">
                <div class="column_attr" style="">
                    <div role="form" class="wpcf7" id="wpcf7-f17147-p15161-o2" dir="ltr" lang="en-US">
                        <div class="screen-reader-response"></div>
                        @using (Html.BeginForm("Login", "Partner", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal2", role = "form", @id = "add-new-product2", @name = "add-new-product2" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div>
                                <h2 style="color:red;">@ViewBag.title2</h2>
                            </div>

                            <p><span class="wpcf7-form-control-wrap firstname"><input name="email" id="email" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required login-mz-firstname" placeholder="email" type="text"></span></p>
                            <p><span class="wpcf7-form-control-wrap firstname"><input name="pass" id="pass" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required login-mz-firstname" placeholder="password" type="password"></span></p>

                            <p><input value="Login" class="button-stroke" type="submit"></p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        }
                    </div>
                </div>
            </div>
            <div class="column one-second column_visual dealerRegForm"><h2><span class="tX02699" style="font-size: 36px;">Partner Login</span></h2><h4 class="tX02698">View Customer Order.</h4><h4 class="h4_singin_link h4_singin_link_click"></h4><p class="tX02695">Thanks for working with us!</p></div>
        </div>
    </div>
</div>