
@{
    ViewBag.Title = "Comfort Zipato";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<div class="content_wrapper clearfix">

    <!-- .sections_group -->
    <div class="sections_group">

        <div class="entry-content" itemprop="mainContentOfPage">
            <div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_visual breadcrumbs-name"><h4 style="text-align: left;" class="tX02303">What is zipato | COMFORT</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                            <div class="column_attr align_right" style="">
                                <div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li id="menu-item-15641" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-15639 current_page_item menu-item-15641"><a href="/whatis/overviewen">Overview</a></li>
                                        <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77 "><a href="/whatis/securityen">Security</a></li>
                                        <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93 "><a href="/whatis/energyen">Energy</a></li>
                                        <li id="menu-item-15268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268 current-menu-item"><a href="/whatis/comforten">Comfort</a></li>
                                        <li id="menu-item-15281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281"><a href="/whatis/healthen">Health</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5"><div class="section-divider triangle down"></div><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h1 style="text-align: center;"><span style="font-size: 54px;" class="tX02304">COMFORT FOR YOU AND YOUR FAMILY</span></h1></div></div></div></div><div class="section   comfort-960-align " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 style="padding-top: 60px;" class="tX02307">You deserve it</h2><h3><span style="font-size: 18px;" class="tX02306">Full comfort for you and your entire family!</span></h3><p class="tX02305">With Zipato you can remotely control and automate lighting, heating, air-conditioning, shades, home appliances, curtains, irrigation, home entertainment… just about everything in your home. You can easily automate your home to improve comfort, usability and even save energy.</p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/z12.jpg" alt="" width="503" height="318"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one column_visual "><h2 style="text-align: center;" class="tX02308">Zipato Principles</h2></div><div class="column one-third column_icon_box tX20437">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/compatibility.png" alt="Connect Everything" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Connect Everything</h4><div class="desc">Zipato interconnects all the technology in your home enhancing your lifestyle with comfort and convenience. It saves you the need to walk around adjusting drapes, lights, temperature, and audio/video equipment.</div></div></div>
                        </div><div class="column one-third column_icon_box tX20438">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/Remote-Control.png" alt="Full Control" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Full Control</h4><div class="desc">Whether from an easy-to-use color touch panel, internet or your mobile phone, total control is always at your fingertips, wherever you are.</div></div></div>
                        </div><div class="column one-third column_icon_box tX20439">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/puzzle.png" alt="Easy programing" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Easy programing</h4><div class="desc">Zipato Rule Creator is a very intuitive and easy-to-use online tool that allows you to create any automation scenario in your home. It is revolutionary in a sense that it allows users to easily create conditional scenarios by dragging puzzles over the screen. There is a gentle learning curve, so no programming experience required.</div></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-third column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/scnes-mobile-ui-min-1.png" alt="" width="500" height="500"></div></div>
                        </div><div class="column two-third column_visual "><h2 class="tX02314">Scenes</h2><h3><span style="font-size: 20px;" class="tX02313">Adjust everything in your home with just the click of a button.</span></h3><p class="tX02312">Program several commands&nbsp; to one button so that you can create your preferred mode or environment with one press of the button. For example, a “Welcome Home” mode can create the exact environment you wish when arriving home with evening lighting, floor heating, music and blinds all adjusted to your desired settings. Tie that mode to the “Alarm Disarming” event and just for the hours 5 and 9.00pm you don’t even need to press a button when you come home.</p><h2 class="tX02311 h2_title">Schedules and Timers</h2><h3><span style="font-size: 20px;" class="tX02310">With advanced scheduler and timers, Zipato will do everything so you don't have to.</span></h3><p class="tX02309">Any series of commands can be easily programmed with a timer function. You can decide when these events will be ran. An “Evening Lighting” home timer might lower the blinds, adjust the floor heating and turn on the garden and entry lighting. This timer can be adjusted by the home owner to run at 4.30pm in winter and 7.00pm in summer. Or simply set the timer to a given time before sunset so the timer automatically follows the seasons.</p></div>
                    </div>
                </div>
            </div><div class="section  no-margin security-auto-mob " style="padding-top:60px; padding-bottom:0px; background-color:#f4f4f2">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 class="tX02322">Lighting Control</h2><h3><span style="font-size: 20px;" class="tX02321">An easy way to save energy and create the perfect ambience in your room</span></h3><p><span class="tX02320"><i class="icon-check"></i>A hallway will illuminate automatically;</span><br><span class="tX02319">motion sensors will turn lights on and off, as you walk.</span><br><span class="tX02318"><i class="icon-check"></i>Turn the whole house off in one touch with a “Good Night” scene – </span><br><span class="tX02317">some lights can turn completely off and some can dim to lower level.</span><br><span class="tX02316"><i class="icon-check"></i>Program your lights to turn off automatically when the room is unoccupied for a certain amount of time.</span><br><span class="tX02315"><i class="icon-check"></i>Set your lights to a maximum level of 80%; your eyes won’t notice the difference but your utility bill will!</span></p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/ui-dimmer-min-1.png" alt="" width="300" height="376"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/climate-control-ui-min.png" alt="" width="500" height="222"></div></div>
                        </div><div class="column one-second column_visual "><h2 style="padding-top: 30px;" class="tX02325">Climate Control</h2><h3><span style="font-size: 18px;"><span class="tX02324">The easiest way to save energy and feel comfortable.</span><br></span></h3><p class="tX02323">Whether you are using a touch panel, PC or mobile phone, Zipato provides you with the easiest and most advanced way to control heating, cooling, and humidity for every room in your home.</p></div>
                    </div>
                </div>
            </div><div class="section  no-margin-h no-margin-v sticky_submenu_main " id="sticky_submenu" style="padding-top:0px; padding-bottom:0px; background-color:">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_visual logo_submenu_sticky"><p style="margin: -10px 0px 0px 10px;"><a href="https://www.zipato.com/"><img class="alignleft size-full wp-image-15539" src="/Content/creative/img/images/2015/08/admin-logo.png" alt="admin-logo" width="73" height="22"></a></p></div><div class="column three-fourth column_column sticky_submenu_container">
                            <div class="column_attr align_right" style="">
                                @*<div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15641"><a href="https://www.zipato.com/what-is-zipato/overview">Overview</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="https://www.zipato.com/what-is-zipato/security">Security</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="https://www.zipato.com/what-is-zipato/energy">Energy</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15266 current_page_item menu-item-15268"><a href="https://www.zipato.com/what-is-zipato/comfort">Comfort</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281"><a href="https://www.zipato.com/what-is-zipato/health">Health</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
        </div>


    </div>

    <!-- .four-columns - sidebar -->

</div>

