
@{
    ViewBag.Title = "Energy Zipato";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<div class="content_wrapper clearfix">
    <!-- .sections_group -->
    <div class="sections_group">
        <div class="entry-content" itemprop="mainContentOfPage">
            <div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_visual breadcrumbs-name"><h4 style="text-align: left;" class="tX02274">What is zipato | ENERGY</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                            <div class="column_attr align_right" style="">
                                <div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li id="menu-item-15641" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-15639 current_page_item menu-item-15641"><a href="/whatis/overviewen">Overview</a></li>
                                        <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77 "><a href="/whatis/securityen">Security</a></li>
                                        <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93 current-menu-item"><a href="/whatis/energyen">Energy</a></li>
                                        <li id="menu-item-15268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268"><a href="/whatis/comforten">Comfort</a></li>
                                        <li id="menu-item-15281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281"><a href="/whatis/healthen">Health</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5"><div class="section-divider triangle down"></div><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h1 style="text-align: center;"><span style="font-size: 54px;"><span class="tX02275">SMART ENERGY MANAGEMENT</span><br></span></h1></div></div></div></div><div class="section  no-margin box_wrapper_style " style="padding-top:60px; padding-bottom:40px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 style="padding-top: 30px;" class="tX02278">Intelligent control system</h2><h3><span style="font-size: 20px;" class="tX02277">Zipato allows you to see exactly where your energy goes, plus it gives you the power to stop wasting it.</span></h3><p class="tX02276">Our intelligent control technology enables you to monitor and reduce energy consumption when using smart home electronics and so you save money— all without sacrificing your comfort!</p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/smart-energy-management-bulb-min1.png" alt="" width="643" height="306"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:20px; background-color:#f5f5f5">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-third column_icon_box tX20434">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/energy-consumption.png" alt="Reduce Energy Costs" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Reduce Energy Costs</h4><div class="desc">Identify and eliminate areas of excessive energy consumption.</div></div></div>
                        </div><div class="column one-third column_icon_box tX20435">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/home.png" alt="Manage Your Equipment" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Manage Your Equipment</h4><div class="desc">Track performance and receive alerts for critical equipment.</div></div></div>
                        </div><div class="column one-third column_icon_box tX20436">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/Remote-Control.png" alt="HVAC &amp; Lighting Control" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>HVAC &amp; Lighting Control</h4><div class="desc">Control heating and cooling from your PC or smartphone.</div></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section  no-margin box_wrapper_style " style="padding-top:60px; padding-bottom:40px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 style="padding-top: 40px;" class="tX02283">Energy Monitoring</h2><h3><span style="font-size: 20px;" class="tX02282">Zipato allows you to see exactly how much electricity your home consumes per each device – right now, on your PC or smartphone.</span></h3><p class="tX02281">It would surprise you how much waste consumption there is when some connected appliances are left turned on. By understanding how much electricity your home uses – or wastes – you can save energy and money. Research shows users save up to 20% in monthly energy expenses when they start tracking their waste energy consumption . But why bother when Zipato can - automatically do it for you.</p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/energy-management-UI2.png" alt="" width="528" height="323"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section  no-margin box_wrapper_style " style="padding-top:60px; padding-bottom:40px; background-color:#f5f5f5">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one column_visual "><h2 class="tX02285">Remote management and analysis</h2><h3><span style="font-size: 20px;" class="tX02284">of all of your electronic appliances with your PC or smartphone to prevent unnecessary energy consumption.</span></h3></div><div class="column one column_divider ">
                            <hr class="no_line" style="margin: 0 auto 10px;">
                        </div><div class="column one column_visual "><p style="text-align: left;"><strong class="tX02291">Analyze and compare</strong><br><span class="tX02290">Zipato will provide you with advanced historical reports and statistics of your energy consumption so you can analyze it and compare it to your area's averages.</span></p><p style="text-align: left;"><strong class="tX02289">Cost prediction</strong><br><span class="tX02288">Zipato shows you how much your electricity use is going to cost you every day and every month, unless you change something.</span></p><p style="text-align: left;"><strong class="tX02287">Real-time notifications</strong><br><span class="tX02286">Zipato will quickly figure out what your average usage is for given time periods, and when it peaks you’ll be notified that something’s been left on. It can be your light bulb or an appliance on stand-by.</span></p></div>
                    </div>
                </div>
            </div><div class="section  no-margin box_wrapper_style " style="padding-top:60px; padding-bottom:40px; background-color:#ffffff">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 style="padding-top: 80px;" class="tX02302">Zipato Smart Thermostat</h2><h3 style="padding-top: 0px;"><span style="font-size: 20px;" class="tX02301">Zipato can help you conserve energy without sacrificing your comfort.</span></h3><p style="padding-top: 0px;"><br><span class="tX02300">The perfect thermostat should be </span><strong class="tX02299">invisible</strong><span class="tX02298">. There shouldn’t be any special device hanging on a wall. It should be adjusted easily to automatically maintain perfect ambient temperature while saving as much energy as possible.</span></p><p style="padding-top: 0px;"><strong class="tX02297">Multiroom.</strong><span class="tX02296"> Adjusting the temperature in each room separately could be done by just playing with your smartphone. Zipato can adjust each valve separately, so you can close the radiator valves in your living room while keeping them open in your children’s room. Zipato can even check if your kids are not in their room - automatically!</span></p><p style="padding-top: 0px;"><strong class="tX02295">Remote control. </strong><span class="tX02294">Can you count how many times you came to your cold apartment wishing someone had heated the room for you? Zipato can do that. You can adjust your heating and cooling from everywhere in the world, using your smartphone.</span></p><p style="padding-top: 0px;"><strong class="tX02293">Scheduler.</strong><span class="tX02292"> Scheduling Zipato to automatically activate heating and cooling is extremely easy and intuitive. You can do it online through a web browser, using your mouse and keyboard. You can adjust different temperature presets (e.g. Comfort, Economy, Sleep…), and later activate these modes with a simple click of a button.</span></p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/thermostat-new-ui-min-1.png" alt="" width="341" height="596"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section  no-margin-h no-margin-v sticky_submenu_main " id="sticky_submenu" style="padding-top: 0px; padding-bottom: 0px;">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_visual logo_submenu_sticky"><p style="margin: -10px 0px 0px 10px;"><a href="https://www.zipato.com/"><img class="alignleft size-full wp-image-15539" src="/Content/creative/img/images/2015/08/admin-logo.png" alt="admin-logo" width="73" height="22"></a></p></div><div class="column three-fourth column_column sticky_submenu_container">
                            <div class="column_attr align_right" style="">
                                <div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15641"><a href="https://www.zipato.com/what-is-zipato/overview">Overview</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="https://www.zipato.com/what-is-zipato/security">Security</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-85 current_page_item menu-item-93"><a href="https://www.zipato.com/what-is-zipato/energy">Energy</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268"><a href="https://www.zipato.com/what-is-zipato/comfort">Comfort</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281"><a href="https://www.zipato.com/what-is-zipato/health">Health</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
        </div>


    </div>

    <!-- .four-columns - sidebar -->

</div>
