
@{
    ViewBag.Title = "Năng Lượng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/creative/css/main.css" rel="stylesheet">
 <!-- Main content -->
<div id="content">
    <div class="section no-margin sub_menu_container" style="">
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="pull-left breadcrumbs-name">
                    <h4 style="text-align: left;" class="">What is zipato | ENERGY</h4>
                </div>
                <div class="col-md-6 pull-right breadcrumbs-nav">
                    <div class="column_attr align_right" style="">
                        <div class="">
                            <ul id="submenu_top" class="submenu_top">
                                <li id="menu-item-15641"
                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                    <a href="/whatis/overview">Tổng quan</a>
                                </li>
                                <li id="menu-item-77"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                                    <a href="/whatis/security">Bảo mật</a>
                                </li>
                                <li id="menu-item-93"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                    <a href="/whatis/energy">Năng lượng</a>
                                </li>
                                <li id="menu-item-15268"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268">
                                    <a href="/whatis/comfort">Tiện ích</a>
                                </li>
                                <li id="menu-item-15281"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281">
                                    <a href="/whatis/health">Sức khỏe</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 1 -->
    <div class="section background_gray padding_top60">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="column">
                    <h1 class="text-center text-visual"><span>QUẢN LÝ NĂNG LƯỢNG THÔNG MINH</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 1 -->
    <!-- Section 2 -->
    <div class="section no-margin box_wrapper_style background_white padding_top60 padding_bot40">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="col-md-6">
                    <h2 class="padding_top30">Hệ thống kiểm soát thông minh</h2>
                    <h3><span style="font-size: 20px;">Zipato cho phép bạn xem chính xác năng lượng của bạn đi đâu, cộng với nó cho phép bạn ngừng việc lãng phí nó.</span></h3>
                    <p>Công nghệ kiểm soát thông minh của chúng tôi cho phép bạn theo dõi và giảm tiêu thụ năng lượng khi sử dụng điện tử gia đình thông minh và do đó bạn tiết kiệm tiền mà không phải giảm sự thoải mái của bạn!</p>
                </div>
                <div class="col-md-6 column_image ">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/smart-energy-management-bulb-min1.png" alt="" width="643" height="306"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 2 -->
    <!-- Section 3 -->
    <div class="section padding_top60 padding_bot20 background_gray">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="col-md-4 column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <div class="image_wrapper"><img src="/Content/creative/img/images/energy-consumption.png" alt="Reduce Energy Costs" class="scale-with-grid" width="83" height="83"></div>
                        <div class="desc_wrapper">
                            <h4>Giảm chi phí năng lượng</h4>
                            <div class="desc">Xác định và loại bỏ các khu vực tiêu thụ năng lượng quá mức.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <div class="image_wrapper"><img src="/Content/creative/img/images/home.png" alt="Manage Your Equipment" class="scale-with-grid" width="83" height="83"></div>
                        <div class="desc_wrapper">
                            <h4>Quản lý thiết bị của bạn</h4>
                            <div class="desc">Theo dõi hiệu suất và nhận cảnh báo cho các thiết bị quan trọng.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <div class="image_wrapper"><img src="/Content/creative/img/images/Remote-Control.png" alt="HVAC &amp; Lighting Control" class="scale-with-grid" width="83" height="83"></div>
                        <div class="desc_wrapper">
                            <h4>HVAC Lighting Control</h4>
                            <div class="desc">Kiểm soát sưởi và làm mát từ máy tính cá nhân hoặc điện thoại thông minh.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 3 -->
    <!-- Section 4 -->
    <div class="section  no-margin box_wrapper_style padding_top60 padding_bot40 background_white">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="col-md-6 column_visual ">
                    <h2 style="padding-top: 40px;">Giám sát năng lượng</h2>
                    <h3><span style="font-size: 20px;">Zipato cho phép bạn biết chính xác điện năng tiêu thụ của bạn trên mỗi thiết bị là bao nhiêu - ngay bây giờ, trên máy tính cá nhân hoặc điện thoại thông minh của bạn.</span></h3>
                    <p>Nó sẽ làm bạn biết được chất thải tiêu thụ bao nhiêu. Bằng cách hiểu được điện nhà bạn sử dụng - hay chất thải - bạn có thể tiết kiệm năng lượng và tiền bạc. Nghiên cứu cho thấy người dùng tiết kiệm tới 20% chi phí năng lượng hàng tháng khi họ bắt đầu theo dõi lượng tiêu thụ năng lượng. Nhưng tại sao lại bận tâm khi Zipato có thể - tự động làm điều đó cho bạn.</p>
                </div>
                <div class="col-md-6 column_image ">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/energy-management-UI2.png" alt="" width="528" height="323"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 4 -->
    <!-- Section 5 -->
    <div class="section  no-margin box_wrapper_style padding_top60 padding_bot40 background_gray">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="column one column_visual ">
                    <h2>Quản lý và phân tích từ xa</h2>
                    <h3><span style="font-size: 20px;">Của tất cả các thiết bị điện tử của bạn với máy tính cá nhân hoặc điện thoại thông minh của bạn để ngăn chặn tiêu thụ năng lượng không cần thiết.</span></h3>
                </div>
                <div class="column one column_divider ">
                    <hr class="no_line" style="margin: 0 auto 10px;">
                </div>
                <div class="column one column_visual ">
                    <p style="text-align: left;">
                        <strong>Phân tích và so sánh</strong>
                        <br><span>Zipato sẽ cung cấp cho bạn các báo cáo lịch sử tiên tiến và số liệu thống kê về mức tiêu thụ năng lượng của bạn để bạn có thể phân tích nó và so sánh nó với mức trung bình trong khu vực của bạn.</span>
                    </p>
                    <p style="text-align: left;">
                        <strong>Dự đoán kết quả</strong>
                        <br><span>Zipato cho bạn biết bạn sử dụng điện bao nhiêu mỗi ngày và mỗi tháng, trừ khi bạn thay đổi thứ gì đó.</span>
                    </p>
                    <p style="text-align: left;">
                        <strong>Cảnh báo thời gian thực</strong>
                        <br><span>Zipato sẽ nhanh chóng tìm ra mức sử dụng trung bình của bạn trong một khoảng thời gian nhất định và khi nó đạt đến đỉnh điểm, bạn sẽ được thông báo rằng một thứ gì đó đã được điều chỉnh lại. Nó có thể là bóng đèn hoặc thiết bị của bạn ở chế độ chờ.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 5 -->
    <!-- Section 6 -->
    <div class="section  no-margin box_wrapper_style " style="padding-top:60px; padding-bottom:40px; background-color:#ffffff">
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="col-md-6 column_visual ">
                    <h2 style="padding-top: 80px;">Bộ ổn nhiệt thông minh Zipato</h2>
                    <h3 style="padding-top: 0px;"><span style="font-size: 20px;">Zipato có thể giúp bạn tiết kiệm năng lượng mà không phải hy sinh sự thoải mái của mình.</span></h3>
                    <p style="padding-top: 0px;">
                        <br><span>Bộ điều chỉnh nhiệt độ hoàn hảo nên </span><strong>trong suốt</strong><span>. Không nên có bất kỳ thiết bị đặc biệt treo trên tường. Cần điều chỉnh một cách dễ dàng để tự động duy trì nhiệt độ môi trường xung quanh hoàn hảo đồng thời tiết kiệm năng lượng nhiều nhất có thể.</span>
                    </p>
                    <p style="padding-top: 0px;"><strong>Nhiều phòng.</strong><span> Điều chỉnh nhiệt độ trong từng phòng riêng biệt có thể được thực hiện bằng cách chỉ cần chơi với điện thoại thông minh của bạn. Zipato có thể điều chỉnh từng van một cách riêng biệt, do đó bạn có thể đóng các van tản nhiệt trong phòng khách của bạn trong khi vẫn giữ chúng trong phòng của con bạn. Zipato thậm chí có thể kiểm tra xem con của bạn không ở trong phòng - tự động!</span></p>
                    <p style="padding-top: 0px;"><strong>Điều khiển từ xa. </strong><span>Bạn có thể đếm bao nhiêu lần bạn muốn lạnh hơn hoặc muốn ai đó đã sưởi ấm căn phòng cho bạn? Zipato có thể làm điều đó. Bạn có thể điều chỉnh hệ thống sưởi ấm và làm mát từ mọi nơi trên thế giới, sử dụng điện thoại thông minh của bạn.</span></p>
                    <p style="padding-top: 0px;"><strong>Lập lịch.</strong><span> Lập kế hoạch Zipato để tự động kích hoạt hệ thống sưởi ấm và làm mát là rất dễ dàng và trực quan. Bạn có thể làm trực tuyến thông qua trình duyệt web, sử dụng chuột và bàn phím. Bạn có thể điều chỉnh các giá trị đặt trước nhiệt độ khác nhau (ví dụ: Comfort, Economy, Sleep ...), và sau đó kích hoạt các chế độ này với một nút bấm đơn giản.</span></p>
                </div>
                <div class="col-md-6 column_image ">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/thermostat-new-ui-min-1.png" alt="" width="341" height="596"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 6 -->
</div>

