
@{
    ViewBag.Title = "health";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<!-- #Wrapper -->
<div id="Wrapper">
    <!-- #Content -->
    <div id="Content">
        <div class="content_wrapper clearfix">
            <!-- .sections_group -->
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">
                    <!-- SUB MENU -->
                    <div class="section  no-margin sub_menu_container  column-margin-0px"
                         style="padding-top:0px; padding-bottom:0px; background-color:">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-fourth column_visual breadcrumbs-name">
                                    <h4 class="tX20499"
                                        style="text-align: left;">
                                        What is zipato | Sức khỏe
                                    </h4>
                                </div>
                                <div class="column three-fourth column_column breadcrumbs-nav">
                                    <div class="column_attr align_right" style="">
                                        <div class="menu-what-is-zipato-container">
                                            <ul id="submenu_top" class="submenu_top">
                                                <li id="menu-item-15641"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                                    <a href="/whatis/overview">Tổng quan</a>
                                                </li>
                                                <li id="menu-item-77"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                                                    <a href="/whatis/security">Bảo mật</a>
                                                </li>
                                                <li id="menu-item-93"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                                    <a href="/whatis/energy">Năng lượng</a>
                                                </li>
                                                <li id="menu-item-15268"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268">
                                                    <a href="/whatis/comfort">Tiện ích</a>
                                                </li>
                                                <li id="menu-item-15281"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281">
                                                    <a href="/whatis/health">Sức khỏe</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SUB MENU -->
                    <!-- SECTION healthBanner -->
                    <div class="section" id="healthBanner">
                        <div class="section-divider triangle down"></div>
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_visual ">
                                    <h1 style="text-align: center;">
                                        <span style="font-size: 54px;">
                                            <span class="tX02327">LUÔN QUAN TÂM NGƯỜI THÂN CỦA BẠN</span>
                                            <br>
                                        </span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION healthBanner -->
                    <!-- SECTION healthCare2 -->
                    <div class="section no-margin health-bottom30" id="healthCare2" style="">
                        <div class="section-divider triangle down"></div>
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_visual ">
                                    <h2 style="padding-top: 40px;" class="tX02330">Chăm sóc sức khỏe</h2>
                                    <h3>
                                        <span style="font-size: 18px;">
                                            <span class="tX02329">Không bao giờ ngừng liên lạc với người thân yêu của bạn</span>
                                            <br>
                                        </span>
                                    </h3>
                                    <p class="tX02328">
                                        Zipato cung cấp bảo mật bổ sung cho những người có nguy cơ
                                        thương tích và tai nạn xảy ra ở nhà, đặc biệt là trong chăm sóc người cao tuổi. Nó
                                        cũng đem lại cho gia đình và bạn bè cảm giác tự do hơn, biết rằng họ sẽ
                                        được liên lạc ngay lập tức nếu một sự việc xảy ra, làm cho cuộc sống dễ dàng hơn cho cả hai
                                        người chăm sóc và người thân yêu thương của họ.
                                    </p>
                                </div>
                                <div class="column one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="/Content/creative/img/images/2015/07/heal.jpg" alt="" width="540" height="321" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION healthCare2 -->
                    <!-- SECTION caregiversNetwork -->
                    <div class="section" id="caregiversNetwork">
                        <div class="section-divider triangle down"></div>
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_visual ">
                                    <h2 style="padding-top: 30px;">
                                        <span style="color: #ffffff;" class="tX02333">Mạng lưới người chăm sóc</span>
                                    </h2>
                                    <h3>
                                        <span style="color: #ffffff; font-size: 18px;" class="tX02332">Một nhóm người chăm sóc trong mạng lưới, thay vì chỉ một người trông nom, đảm bảo độ tin cậy và sự an tâm hơn</span>
                                    </h3>
                                    <p>
                                        <span style="color: #ffffff;" class="tX02331">Bằng cách sử dụng các cảm biến khác nhau và công nghệ di động, hệ thống Zipato có thể giám sát tất cả các hoạt động của người thân và cung cấp thông tin và cảnh báo cho cả một nhóm người chăm sóc. Bằng cách này, các gia đình chia sẻ trách nhiệm chăm sóc giữa anh chị em, con cái, bạn bè đáng tin cậy, các chuyên gia được thanh toán, hàng xóm và những người chăm sóc khác trong mạng lưới người chăm sóc. Đây là một giải pháp tiết kiệm chi phí và trang nghiêm hơn nhiều so với các phương tiện sinh hoạt được trợ giúp.</span>
                                    </p>
                                </div>
                                <div class="column one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="/Content/creative/img/images/2015/07/smart-caregiving-sh.png" alt="" width="550" height="283" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-second column_image paddBottom_none">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="/Content/creative/img/images/2015/07/eldery-care-from-anywhere-min.png" alt="" width="450" height="318" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION caregiversNetwork -->
                    <!-- SECTION advancedAlertSystem -->
                    <div class="section" id="advancedAlertSystem">
                        <div class="section-divider triangle down"></div>
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_visual">
                                    <h2 class="tX02336">Hệ thống cảnh báo nâng cao</h2>
                                    <p>
                                        <span class="tX02335">Tùy thuộc vào vị trí cảm biến, các thành viên trong gia đình và những người chăm sóc khác được ủy quyền có thể nhận được cảnh báo khi các mẫu hành vi bình thường thay đổi. Nếu không có hoạt động nào</span>
                                        <br>
                                        <span class="tX02334">Trong một thời gian nhất định, trong trường hợp cần người thân yêu của bạn chỉ cần ấn một nút đặc biệt để được giúp đỡ:</span>
                                    </p>
                                </div>
                                <div class="column one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="/Content/creative/img/images/2015/07/advanced-alert-system-zipato-health.jpg" alt="" width="1100" height="160" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-second column_visual ">
                                    <p>
                                        <span class="tX02339"><i class="icon-check"></i>Cho dù bảng điều khiển bảo mật được thiết lập, ngắt quãng hay báo động</span>
                                        <br>
                                        <span class="tX02338"><i class="icon-check"></i>Trạng thái tổng thể của thiết bị và đường dẫn kết nối đang được sử dụng</span>
                                        <br>
                                        <span class="tX02337"><i class="icon-check"></i>Trạng thái hiện tại của thiết bị của bạn</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION advancedAlertSystem -->
                    <!-- SECTION zipatoAdvantages -->
                    <div class="section" id="zipatoAdvantages">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_visual ">
                                    <h2 class="tX02350">Zipato lợi thế</h2>
                                    <p>
                                        <strong class="tX02349">Hoàn toàn tùy chỉnh</strong>
                                        <br>
                                        <span class="tX02348">Bạn chọn những gì cần để theo dõi, làm thế nào để nhận thông tin, và ai sẽ nhận được cảnh báo.</span>
                                    </p>
                                    <p>
                                        <strong class="tX02347">Báo cáo hoạt động</strong>
                                        <br>
                                        <span class="tX02346">Báo cáo web trực tuyến cung cấp cho bạn một cái nhìn chi tiết về hoạt động của tất cả những người thân yêu, cho bạn cái nhìn sâu sắc về các vấn đề của họ hoặc vấn đề sức khỏe.</span>
                                    </p>
                                    <p>
                                        <strong class="tX02345">Video streaming</strong>
                                        <br>
                                        <span class="tX02344">Bạn có thể sử dụng video trực tiếp để kiểm tra những người thân yêu của mình trong trường hợp cảnh báo sức khoẻ. Bạn cũng có thể thiết lập Zipato để tự động gửi cho bạn hình ảnh hoặc video clip trong trường hợp cảnh báo khẩn cấp.</span>
                                    </p>
                                    <p>
                                        <strong class="tX02343">Cảnh báo an toàn và an toàn</strong>
                                        <br>
                                        <span class="tX02342">Nhận thông báo sớm về những vết rò nước để tránh lũ lụt tiềm ẩn. Zipato có thể thông báo cho bạn về các tình huống khẩn cấp như hỏa hoạn, xâm nhập, rò rỉ khí hoặc nhiệt độ thấp nguy hiểm trong nhà bạn.</span>
                                    </p>
                                    <p>
                                        <strong class="tX02341">Kết nối sao lưu Cellular</strong>
                                        <br>
                                        <span class="tX02340">Zipato tương tác với trạm trung tâm bằng cách sử dụng kết nối di động đáng tin cậy, do đó bạn không cần đường dây điện thoại truyền thống.</span>
                                    </p>
                                </div>
                                <div class="column one-second column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="/Content/creative/img/images/2015/07/healthcare-circle2.png" alt="" width="501" height="468" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION zipatoAdvantages -->

                    <div class="section the_content no_content">
                        <div class="section_wrapper">
                            <div class="the_content_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .four-columns - sidebar -->

        </div>
    </div>

</div><!-- #Wrapper -->
