
@{
    ViewBag.Title = "Health Zipato";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<div class="content_wrapper clearfix">

    <!-- .sections_group -->
    <div class="sections_group">

        <div class="entry-content" itemprop="mainContentOfPage">
            <div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_visual breadcrumbs-name"><h4 style="text-align: left;" class="tX02326">What is zipato | HEALTH</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                            <div class="column_attr align_right" style="">
                                <div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li id="menu-item-15641" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-15639 current_page_item menu-item-15641"><a href="/whatis/overviewen">Overview</a></li>
                                        <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77 "><a href="/whatis/securityen">Security</a></li>
                                        <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93 "><a href="/whatis/energyen">Energy</a></li>
                                        <li id="menu-item-15268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268"><a href="/whatis/comforten">Comfort</a></li>
                                        <li id="menu-item-15281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281 current-menu-item"><a href="/whatis/healthen">Health</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5"><div class="section-divider triangle down"></div><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h1 style="text-align: center;"><span style="font-size: 54px;"><span class="tX02327">ALWAYS IN TOUCH WITH YOUR ELDER LOVED ONES</span><br></span></h1></div></div></div></div><div class="section  no-margin health-bottom30 " style="padding-top:30px; padding-bottom:0px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 style="padding-top: 40px;" class="tX02330">Health Care</h2><h3><span style="font-size: 18px;"><span class="tX02329">Never lose connection with your elder loved ones</span><br></span></h3><p class="tX02328">Zipato provides additional security to people who are at risk of injuries and accidents that happen at home, especially in the elderly care. It also gives family and friends a greater sense of freedom, knowing that they will be contacted immediately if an incident occurs, making life easier for both caregivers and their loved elders.</p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/heal.jpg" alt="" width="540" height="321"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#231f20">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 style="padding-top: 30px;"><span style="color: #ffffff;" class="tX02333">Caregivers network</span></h2><h3><span style="color: #ffffff; font-size: 18px;" class="tX02332">A networked group of caregivers, instead of just one caretaker, ensuring more reliability and a greater peace of mind</span></h3><p><span style="color: #ffffff;" class="tX02331">By using different sensors and mobile technology, the Zipato system can monitor all the activities of loved ones and provide the information and alerts to a whole group of caregivers. This way families share the care taking responsibilities between siblings, children, trusted friends, paid professionals, neighbors and other caregivers in the caregiver network. It is a much more cost-effective and dignified solution than assisted living facilities.</span></p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/smart-caregiving-sh.png" alt="" width="550" height="283"></div></div>
                        </div><div class="column one-second column_image paddBottom_none">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/eldery-care-from-anywhere-min.png" alt="" width="450" height="318"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one column_visual "><h2 class="tX02336">Advanced alert system</h2><p><span class="tX02335">Depending on the sensor location, family members and other authorized caregivers can receive alerts when normal behavior patterns change. If there is no activity</span><br><span class="tX02334">within a specified time, in case of a fall, or if your loved one simply pushes a special button for help:</span></p></div><div class="column one column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/advanced-alert-system-zipato-health.jpg" alt="" width="1100" height="160"></div></div>
                        </div><div class="column one-second column_visual "><p><span class="tX02339"><i class="icon-check"></i>Whether the security panel is armed, disarmed, or sounding an alarm</span><br><span class="tX02338"><i class="icon-check"></i>The overall state of devices and what connection path is being used</span><br><span class="tX02337"><i class="icon-check"></i>The current status of your devices</span></p></div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 class="tX02350">Zipato advantages</h2><p><strong class="tX02349">Fully customizable</strong><br><span class="tX02348">Families choose what to monitor, how to receive the information, and who should receive alerts.</span></p><p><strong class="tX02347">Activity reports</strong><br><span class="tX02346">Online web reports give you a detailed view of all your loved ones' activities, giving you insight into their eventual issues or health problems.</span></p><p><strong class="tX02345">Video streaming</strong><br><span class="tX02344">You can use live video to check on your loved ones in case of health alerts. You can also setup Zipato to automatically send you pictures or video clips in case of emergency alerts.</span></p><p><strong class="tX02343">Security and Safety alerts</strong><br><span class="tX02342">Get early alerts of water leaks to avoid potential flood. Zipato can notify you of emergency conditions such as fire, intrusion, gas leaks or dangerously low temperatures in your home.</span></p><p><strong class="tX02341">Cellular backup connection</strong><br><span class="tX02340">Zipato interacts with the central station by using a reliable mobile connection so you don’t need a traditional telephone land line.</span></p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/healthcare-circle2.png" alt="" width="501" height="468"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section  no-margin-h no-margin-v sticky_submenu_main " id="sticky_submenu" style="padding-top:0px; padding-bottom:0px; background-color:">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        @*<div class="column one-fourth column_visual logo_submenu_sticky"><p style="margin: -10px 0px 0px 10px;"><a href="https://www.zipato.com/"><img class="alignleft size-full wp-image-15539" src="/Content/creative/img/images/2015/08/admin-logo.png" alt="admin-logo" width="73" height="22"></a></p></div><div class="column three-fourth column_column sticky_submenu_container">
                            <div class="column_attr align_right" style="">
                                <div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15641"><a href="https://www.zipato.com/what-is-zipato/overview">Overview</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="https://www.zipato.com/what-is-zipato/security">Security</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="https://www.zipato.com/what-is-zipato/energy">Energy</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268"><a href="https://www.zipato.com/what-is-zipato/comfort">Comfort</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15274 current_page_item menu-item-15281"><a href="https://www.zipato.com/what-is-zipato/health">Health</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
        </div>


    </div>

    <!-- .four-columns - sidebar -->

</div>

