
@{
    ViewBag.Title = "Tổng Quan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<!-- #Wrapper -->
<div id="Wrapper">
    <!-- #Content -->
    <div id="Content">
        <div class="content_wrapper clearfix">
            <!-- .sections_group -->
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">

                    <!-- SUB MENU -->
                    <div class="section  no-margin sub_menu_container  column-margin-0px"
                         style="padding-top:0px; padding-bottom:0px; background-color:">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-fourth column_visual breadcrumbs-name">
                                    <h4 class="tX20499"
                                        style="text-align: left;">
                                        Giới Thiệu | Tổng Quan
                                    </h4>
                                </div>
                                <div class="column three-fourth column_column breadcrumbs-nav">
                                    <div class="column_attr align_right" style="">
                                        <div class="menu-what-is-zipato-container">
                                            <ul id="submenu_top" class="submenu_top">
                                                <li id="menu-item-15641"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                                    <a href="/whatis/overview">Tổng quan</a>
                                                </li>
                                                <li id="menu-item-77"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                                                    <a href="/whatis/security">Bảo mật</a>
                                                </li>
                                                <li id="menu-item-93"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                                    <a href="/whatis/energy">Năng lượng</a>
                                                </li>
                                                <li id="menu-item-15268"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268">
                                                    <a href="/whatis/comfort">Tiện ích</a>
                                                </li>
                                                <li id="menu-item-15281"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281">
                                                    <a href="/whatis/health">Sức khỏe</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SUB MENU -->
                    <!-- SECTION 1 -->
                    <div class="section overview-sectionf">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_visual ">
                                    <h1><span class="tX20500">"Yên tâm" kiểm soát nhà</span></h1>
                                    <p><span><span class="tX20501" style="font-size: 16px;">Hệ thống an ninh, quản lý năng lượng, an toàn và bảo vệ và chăm sóc sức khoẻ trong một bộ điều khiển</span><br></span></p>
                                    <p><span class="tX20502">Zipato là nền tảng điều khiển và tự động hóa hoàn chỉnh. Bạn có thể kiểm soát nhà của mình từ mọi nơi, tự động hóa tất cả thiết bị, xem điều gì đang xảy ra khi bạn ở xa, và nhận thông báo tức thời trong trường hợp có vấn đề bảo mật hoặc an toàn. </span></p>
                                    <p class="tX02351"><a class="mfn-link mfn-link-5 " href="/howitwork/overview/" data-hover="Learn More" ontouchstart="this.classList.toggle('hover');"><span data-hover="Learn More">Tìm hiểu thêm</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION 1 -->
                    <!-- SECTION 2 -->
                    <div class="section section-image-box">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/cfaa-min-1.png" alt="" width="1100" height="619" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION 2 -->
                    <!-- SECTION 3 -->
                    <div class="section box_wrapper_style" id="automation-with-ease">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_visual ">
                                    <h2 class="tX20503" style="text-align: center;">Tự động hoá được thực hiện dễ dàng</h2>
                                    <p style="text-align: center;">
                                        <span class="tX20504" style="font-size: 16px;">Zipato Rule Creator cung cấp cho bạn một giao diện trực tuyến trực quan để dễ dàng tùy chỉnh mọi hoạt động trong nhà tự động của bạn</span>
                                    </p>
                                </div>
                                <div class="column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="/Content/creative/img/images/2015/07/whenifthen5.png" alt="" width="1100" height="331" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column one column_divider ">
                                    <hr class="hr_narrow " style="margin: 0 auto 2px;" />
                                </div>
                                <div class="column one-third column_icon_box tX10013">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/gears.png" alt="SCENES" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>CẢNH VẬT</h4>
                                            <div class="desc">
                                                Tự động hóa sinh hoạt của bạn với những kịch bản tùy chỉnh và tăng cường an ninh, giảm chi phí năng lượng và tận hưởng sự thoải mái mới.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_icon_box tX10014">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/scheduler3.png" alt="SCHEDULER" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>LẬP LỊCH BIỂU</h4>
                                            <div class="desc">
                                                Lên lịch những gì quan trọng nhất, ví dụ: Thời gian đến trường hàng ngày của con bạn để Zipato có thể nhắc nhở bạn nếu không có ai giám sát.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_icon_box tX10015">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/groups.png" alt="GROUPS" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>CÁC NHÓM</h4>
                                            <div class="desc">
                                                Không có báo động sai! Nhóm các cảm biến khác nhau kết hợp để đảm bảo rằng một báo động trộm là chính xác.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION 3 -->
                    <!-- SECTION 4 -->
                    <div class="section box_wrapper_style" id="section-4">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_visual ">
                                    <h2 style="padding-left: 20px;">
                                        <span class="tX20486" style="color: #ffffff;">Tất cả trong một</span>
                                    </h2>
                                    <h3 style="padding-left: 20px;">
                                        <span class="tX20506" style="color: #ffffff; font-size: 20px;">Hệ thống an ninh, quản lý năng lượng và tự động hóa gia đình.</span>
                                    </h3>
                                    <p style="padding-left: 20px;">
                                        <span class="tX20507" style="color: #ffffff;">Zipato là giải pháp bảo mật thế hệ tiếp theo cho bạn và gia đình của bạn, cung cấp cho bạn các dịch vụ giám sát và cảnh báo rộng rãi trong trường hợp cháy, trộm, lũ lụt hoặc rò rỉ khí cũng như các giải pháp chăm sóc dành cho trẻ em và người già.</span>
                                    </p>
                                    <p class="tX02352" style="padding-left: 20px;">
                                        <a class="mfn-link mfn-link-5" href="#" data-hover="Learn More" ontouchstart="this.classList.toggle('hover');">
                                            <span data-hover="Learn More">Tìm hiểu thêm</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION 4 -->
                    <!-- SECTION keepEyeBox -->
                    <div class="section  box_wrapper_style" id="keepEyeBox">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_visual ">
                                    <h2 class="tX20508" style="text-align: center;">Theo dõi nhà của bạn</h2>
                                    <p style="text-align: center;">
                                        <span class="tX20509" style="font-size: 16px;">Truy cập máy ảnh trong nhà hoặc doanh nghiệp của bạn từ xa để xem điều gì đã kích hoạt báo thức qua video trực tuyến thời gian thực. Xem các đoạn video cảnh báo trước và cảnh báo sau khi đăng trên điện thoại di động và máy PC của bạn. Bạn cũng có thể sử dụng tầm nhìn ban đêm để nhìn thấy trong bóng tối.</span>
                                    </p>
                                </div>
                                <div class="column one-third column_icon_box tX10016">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/stay-in-touch-with-your-children-tb-1.jpg" alt="Stay in touch with your children" class="scale-with-grid" width="334" height="221" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Giữ liên lạc với con của bạn</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_icon_box tX10017">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/elderly-care-from-anywhere-tb-1.jpg" alt="Care for the elderly from anywhere in the world" class="scale-with-grid" width="334" height="221" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Chăm sóc người cao tuổi từ bất cứ đâu trên thế giới</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_icon_box tX10018">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/analyze-your-energy-costs-tb-1.jpg" alt="Analyze and optimize energy consumption" class="scale-with-grid" width="334" height="221" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Phân tích và tối ưu hóa tiêu thụ năng lượng</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION keepEyeBox -->
                    <!-- SECTION securityProtection -->
                    <div class="section box_wrapper_style" id="securityProtection">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_placeholder">
                                    <div class="placeholder">&nbsp;</div>
                                </div>
                                <div class="column one-second column_visual ">
                                    <h2 style="padding-left: 20px;">
                                        <span class="tX20510" style="color: #ffffff; font-size: 46px;">Bảo vệ an ninh</span>
                                    </h2>
                                    <h3 style="padding-left: 20px;">
                                        <span class="tX20511" style="color: #ffffff; font-size: 20px;">Một thế hệ mới của an toàn nhà và an ninh.</span>
                                    </h3>
                                    <p style="padding-left: 20px;">
                                        <span class="tX20514" style="color: #ffffff;">Luôn luôn kết nối với trạm phát tín hiệu trung tâm, với các tính năng tự động và điều khiển từ xa tiên tiến, Zipato cung cấp một cách thông minh và an toàn hơn để bảo vệ ngôi nhà của bạn khỏi bị trộm, hỏa hoạn, lũ lụt, khí đốt và bất kỳ sự kiện không mong muốn khác.</span>
                                    </p>
                                    <p class="tX02353" style="padding-left: 20px;">
                                        <a class="mfn-link mfn-link-5 " href="security/index.html" data-hover="Learn More" ontouchstart="this.classList.toggle('hover');">
                                            <span data-hover="Learn More">Tìm hiểu thêm</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION securityProtection -->
                    <!-- SECTION smartEnergyManagement -->
                    <div class="section box_wrapper_style" id="smartEnergyManagement" style="padding-top:60px; padding-bottom:20px;">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_visual ">
                                    <h2 class="tX20512" style="text-align: center;">Quản lý năng lượng thông minh</h2>
                                    <p style="text-align: center;">
                                        <span class="tX20513" style="font-size: 16px;">Công nghệ điều khiển thông minh của chúng tôi cho phép bạn giám sát và giảm tiêu thụ năng lượng khi sử dụng thiết bị điện tử gia đình thông minh. Giữ nguồn lực, và tiết kiệm tiền & tất cả mà không phải hy sinh hay thoải mái.</span>
                                    </p>
                                </div>
                                <div class="column one-third column_icon_box tX10019">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/energy-consumption.png" alt="REDUCE ENERGY COSTS" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Giảm chi phí năng lượng</h4>
                                            <div class="desc">Xác định và loại bỏ các khu vực tiêu thụ năng lượng quá mức.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_icon_box tX10020">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/home.png" alt="MANAGE YOUR EQUIPMENT" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>QUẢN LÝ THIẾT BỊ</h4>
                                            <div class="desc">Theo dõi hiệu suất và nhận cảnh báo cho thiết bị phê bình.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_icon_box tX10021">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/Remote-Control.png" alt="HVAC & LIGHTING CONTROL" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Điều khiển HVAC & ĐÈN</h4>
                                            <div class="desc">Kiểm soát sưởi ấm và làm mát - từ PC hoặc điện thoại thông minh của bạn.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION smartEnergyManagement -->
                    <!-- SECTION fullComfort -->
                    <div class="section box_wrapper_style" id="fullComfort">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one-second column_visual ">
                                    <h2 class="tX00038" style="padding-left: 20px;">Hoàn toàn thoải mái</h2>
                                    <h3 style="padding-left: 20px;"><span class="tX00039" style="font-size: 20px;">Đối với bạn và cả gia đình bạn.</span></h3>
                                    <p class="tX00040" style="padding-left: 20px;">
                                        Với Zipato bạn có thể điều khiển từ xa
                                        Và tự động hóa ánh sáng, sưởi ấm, điều hòa không khí, sắc thái, đồ gia dụng,
                                        rèm, thủy lợi, giải trí gia đình ... gần như bất cứ thứ gì trong nhà bạn. Bạn có thể
                                        cũng tối ưu hóa tiêu thụ năng lượng của bạn, mà không phải giảm sự thoải mái của bạn.
                                    </p>
                                    <p class="tX02354" style="padding-left: 20px;">
                                        <a class="mfn-link mfn-link-5 " href="comfort/index.html" data-hover="Learn More" ontouchstart="this.classList.toggle('hover');">
                                            <span data-hover="Learn More">Tìm hiểu thêm</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION fullComfort -->
                    <!-- SECTION healthCare -->
                    <div class="section box_wrapper_style" id="healthCare">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_visual ">
                                    <h2 class="tX00041" style="text-align: center;">Chăm sóc sức khỏe</h2>
                                    <p style="text-align: center;">
                                        <span class="tX00042" style="font-size: 16px;">Với Zipato bạn có thể cho người thân của bạn bất cứ lúc nào, dù bạn ở bất cứ đâu.&nbsp;</span>
                                        <br>
                                        <span class="tX00043" style="font-size: 16px;">Chúng tôi cung cấp các phương pháp khác nhau để đảm bảo sự an toàn của họ và thông báo cho bạn.</span>
                                    </p>
                                </div>
                                <div class="column one-fourth column_icon_box tX10022">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/world2.png" alt="ALWAYS IN TOUCH" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>LUÔN LUÔN</h4>
                                            <div class="desc">
                                                Giữ liên lạc với người thân của bạn, dù bạn ở bất cứ đâu.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-fourth column_icon_box tX10023">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/community-iconpng.png" alt="CAREGIVERS NETWORK" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>MẠNG LƯỚI CAREGIVERS</h4>
                                            <div class="desc">Một nhóm người chăm sóc hoàn toàn đáng tin cậy.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-fourth column_icon_box tX10024">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/alrting-icon.png" alt="ADVANCED ALERT SYSTEM" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>HỆ THỐNG CẢNH BÁO NÂNG CAO</h4>
                                            <div class="desc">Trong trường hợp có nguy cơ tiềm ẩn bạn sẽ được cảnh báo ngay lập tức.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-fourth column_icon_box tX10025">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="image_wrapper">
                                            <img src="/Content/creative/img/images/2015/07/compatibility.png" alt="ZIPATO ADVANTAGES" class="scale-with-grid" width="83" height="83" />
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>ƯU ĐIỂM ZIPATO</h4>
                                            <div class="desc">Hoàn toàn tùy chỉnh, Báo cáo hoạt động, Video streaming ...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SECTION healthCare -->

                    <div class="section the_content no_content">
                        <div class="section_wrapper">
                            <div class="the_content_wrapper"></div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- .four-columns - sidebar -->

        </div>
    </div>

