
@{
    ViewBag.Title = "Bảo Mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/creative/css/main.css" rel="stylesheet">
<!-- Main content -->
<div id="content">
    <div class="section no-margin sub_menu_container" style="">
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="pull-left breadcrumbs-name">
                    <h4 style="text-align: left;" class="">What is zipato | ENERGY</h4>
                </div>
                <div class="col-md-6 pull-right breadcrumbs-nav">
                    <div class="column_attr align_right" style="">
                        <div class="">
                            <ul id="submenu_top" class="submenu_top">
                                <li id="menu-item-15641"
                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                    <a href="/whatis/overview">Tổng quan</a>
                                </li>
                                <li id="menu-item-77"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                                    <a href="/whatis/security">Bảo mật</a>
                                </li>
                                <li id="menu-item-93"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                    <a href="/whatis/energy">Năng lượng</a>
                                </li>
                                <li id="menu-item-15268"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268">
                                    <a href="/whatis/comfort">Tiện ích</a>
                                </li>
                                <li id="menu-item-15281"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281">
                                    <a href="/whatis/health">Sức khỏe</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 1 -->
    <div class="section background_gray padding_top60">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="column">
                    <h1 class="text-center text-visual"><span>AN TOÀN & BẢO VỆ</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 1 -->
    <!-- Section 2 -->
    <div class="section no-margin box_wrapper_style background_white padding_top60">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="col-md-6">
                    <h2>Cải thiện an ninh</h2>
                    <p>
                        <span>Zipato mang đến cho bạn một thế hệ mới về an ninh và an toàn tại nhà.</span>
                        <br>
                        <span>Luôn luôn kết nối với trạm báo động trung tâm và có khả năng tự động hóa cấp cao từ xa, Zipato cung cấp cách thông minh nhất để bảo vệ nhà của bạn khỏi bị trộm, hỏa hoạn, lũ lụt, khí đốt và các sự cố không mong muốn khác. Với Zipato, bạn có thể kiểm soát hoàn toàn nhà của mình ngay cả khi bạn không ở đó.</span>
                    </p>
                </div>
                <div class="col-md-6 column_image ">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/much-better-security-min.png" alt="" width="437" height="238"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 2 -->
    <!-- Section 3 -->
    <div class="section security-home-mobile background_gray padding_top60">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="col-md-6 column_image cirle_box_image">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="https://www.zipato.com/wp-content/uploads/2015/11/shutterstock_16793008-768.png" alt="" width="768" height="552"></div>
                    </div>
                </div>
                <div class="col-md-6 column_visual padding_bot40">
                    <h5>Theo dõi Carbon Monoxide (1)</h5>
                    <p>Zipato có thể bảo vệ bạn khỏi khí gas</p>
                    <h5>Đầu báo khói và phát hiện nhiệt (2)</h5>
                    <p>Thiết bị dò lửa / nóng được giám sát cảnh báo bạn và cho phép Zipato thông báo cho Phòng Cứu Hỏa bất cứ lúc nào khi phát hiện khói hoặc nhiệt</p>
                    <h5>Kiểm soát trộm (3)</h5>
                    <p>Máy dò theo dõi cảnh báo bạn và cho phép Zipato thông báo cho Sở Cảnh sát bất cứ lúc nào kẻ trộm được phát hiện</p>
                    <h5>Phát hiện kính vỡ (4)</h5>
                    <p>Cảnh báo phát hiện và cho phép Zipato để thông báo cho Sở Cảnh sát bất cứ lúc nào cửa sổ bị hỏng.</p>
                    <h5>Cảm biến nước / lũ (5)</h5>
                    <p>Các máy dò báo động theo dõi sẽ cảnh báo bạn và cho phép Zipato thông báo cho Phòng Cứu hỏa bất cứ khi nào nước vượt quá được phát hiện.</p>
                </div>
                <div class="col-md-6 column_visual cirle_box_container security_checkbox_number">
                    <p>
                        <span class="security_checkbox security_checkbox1">1</span>
                        <span class="security_checkbox security_checkbox2">2</span>
                        <span class="security_checkbox security_checkbox3">3</span>
                        <span class="security_checkbox security_checkbox4">4</span>
                        <span class="security_checkbox security_checkbox5">5</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 3 -->
    <!-- Section 4 -->
    <div class="section box_wrapper_style padding_top60 background_black">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="column one column_visual ">
                    <h2 class="text-center"><span style="color: #ffffff;" class="">Giám sát an ninh 24/7</span></h2>
                    <p class="text-center">
                        <span style="color: #ffffff; font-size: 16px;">Các máy chủ Zipato theo dõi mạng Zipato của bạn và cảnh báo bạn ngay lập tức về các vụ trộm, hỏa hoạn, khí đốt và môi trường.</span>
                        <br><span style="color: #ffffff; font-size: 16px;">Giám sát 24 giờ - Giám sát nhà của bạn 24/7 cho trộm, cháy và carbon monoxide.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 4 -->
    <!-- Section 5 -->
    <div class="section  no-margin security-auto-mob box_wrapper_style padding_top60 background_white">
        <div class="section-divider triangle down"></div>
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="column one column_divider ">
                    <hr class="no_line" style="margin: 0 auto 20px;">
                </div>
                <div class="col-md-6 column_accordion">
                    <div class="accordion">
                        <h4 class="title"></h4>
                        <h2 class="title">Tự động hóa an ninh</h2>

                        <div class="mfn-acc accordion_wrapper  open1st">
                            <div class="question">
                                <div class="title"><i class="fa fa-plus acc-icon-plus"></i><i class="fa fa-minus acc-icon-minus"></i>Đặt nhà của bạn trên máy điều khiển tự động</div>
                                <div class="answer">Đặt ánh sáng và trạng thái bắt chước mô hình sinh hoạt quen thuộc của bạn để xuất hiện như thể bạn đang ở nhà, ngay cả khi bạn không ở đó. Bạn thậm chí có thể bật / tắt TV của mình để để ngăn cản những kẻ trộm.</div>
                            </div>
                            <div class="question">
                                <div class="title"><i class="fa fa-plus acc-icon-plus"></i><i class="fa fa-minus acc-icon-minus"></i>Kiểm soát lối vào</div>
                                <div class="answer">Xem ai ở cửa trước của bạn, khóa hoặc mở khóa cửa trước qua web, điện thoại hoặc bảng điều khiển cảm ứng tại nhà. Biết người vừa vào nhà của bạn qua thông báo văn bản, video hoặc ảnh dựa trên sự kiện. Bạn có thể quản lý truy cập thông qua mã người dùng, chẳng hạn như người giữ trẻ, người giúp việc hoặc người khác.</div>
                            </div>
                            <div class="question">
                                <div class="title"><i class="fa fa-plus acc-icon-plus"></i><i class="fa fa-minus acc-icon-minus"></i>Video theo dõi</div>
                                <div class="answer">Truy cập máy ảnh trong nhà hoặc doanh nghiệp của bạn từ xa để xem điều gì đã kích hoạt báo thức qua video trực tuyến thời gian thực. Xem các đoạn video về các sự kiện trước khi báo động và cảnh báo sau trên điện thoại di động và máy tính có hỗ trợ web của bạn. Bạn có thể sử dụng camera nhìn ban đêm để xem trong bóng tối, và máy ảnh megapixel để đạt được chất lượng hình ảnh hoàn hảo.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 column_image ">
                    <div class="animate fadeInUpLarge" data-anim-type="fadeInUpLarge">
                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                            <div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/armed-ui-2-min-1.png" alt="" width="299" height="376"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 5 -->
    <!-- Section 6 -->
    <div class="section  no-margin box_wrapper_style desc-size padding_bot40 padding_top60 background_gray">
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="column one column_visual margin_bot15">
                    <h2 class="text-center">Tổng quan</h2>
                </div>
                <div class="column one column_divider ">
                    <hr class="hr_narrow " style="margin: 0 auto 20px;">
                </div>
                <div class="col-md-3 column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <div class="image_wrapper"><img src="/Content/creative/img/images/world2.png" alt="Accessible from everywhere" class="scale-with-grid" width="83" height="83"></div>
                        <div class="desc_wrapper">
                            <h4>Có thể sử dụng từ mọi nơi</h4>
                            <div class="desc">Truy cập và kiểm soát hệ thống an ninh của bạn từ bất cứ đâu. Cho dù thông qua một máy tính từ xa hoặc thiết bị di động, nếu bạn có thể kết nối với Internet, bạn có thể kiểm soát hệ thống an ninh của bạn.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <div class="image_wrapper"><img src="/Content/creative/img/images/internet-cellular5.png" alt="Internet &amp; cellular connection" class="scale-with-grid" width="83" height="83"></div>
                        <div class="desc_wrapper">
                            <h4>Internet & kết nối di động</h4>
                            <div class="desc">Thay vì sử dụng một đường dây điện thoại chuẩn, có thể dễ dàng vô hiệu hóa bởi kẻ trộm, hệ thống an ninh Zipato tương tác với trạm trung tâm nhanh hơn và an toàn hơn bằng cách sử dụng kết nối Internet hoặc GSM. Internet an toàn hoặc liên kết di động đến trạm trung tâm được mã hóa kỹ thuật số để tăng cường bảo mật. Điều này làm cho nó hầu như không thể bị xâm nhập, không ai có thể vô hiệu hóa hoặc làm gián đoạn tín hiệu báo động của bạn.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <div class="image_wrapper"><img src="/Content/creative/img/images/Remote-Control.png" alt="Customize everything" class="scale-with-grid" width="83" height="83"></div>
                        <div class="desc_wrapper">
                            <h4>Tùy chỉnh mọi thứ</h4>
                            <div class="desc">Thông qua cổng thông tin trực tuyến dễ sử dụng của Zipato, bạn có thể hoàn toàn tùy chỉnh mọi thông số của hệ thống an ninh theo nhu cầu của bạn. Bạn có thể thêm nhiều phân vùng như bạn muốn trong hệ thống bảo mật của bạn. Bằng cách này, bạn có thể có được hệ thống an ninh đáng tin cậy, an toàn và tiện lợi nhất cho ngôi nhà của bạn.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 column_icon_box">
                    <div class="icon_box icon_position_top no_border">
                        <div class="image_wrapper"><img src="/Content/creative/img/images/compatibility.png" alt="Wireless easy to install" class="scale-with-grid" width="83" height="83"></div>
                        <div class="desc_wrapper">
                            <h4>Không dây và dễ cài đặt</h4>
                            <div class="desc">Bộ cảm biến của Zipato truyền thông không dây với bộ điều khiển chính của Zipabox. Không chỉ là nó dễ dàng cài đặt các cảm biến, nhưng gần như không thể xâm nhập để vô hiệu hóa chúng. Nhanh và Dễ dàng! Nhà bạn có thể được bảo vệ hoàn toàn bằng hệ thống Zipato cơ bản trong khoảng 30 phút.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Section 6 -->

</div>

