
@{
    ViewBag.Title = "Sercurity Zipato";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<div class="content_wrapper clearfix">
    <!-- .sections_group -->
    <div class="sections_group">
        <div class="entry-content" itemprop="mainContentOfPage">
            <div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_visual breadcrumbs-name"><h4 class="tX20499" style="text-align: left;">What is zipato | Security</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                            <div class="column_attr align_right" style="">
                                <div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li id="menu-item-15641" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-15639 current_page_item menu-item-15641"><a href="/whatis/overviewen">Overview</a></li>
                                        <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77 current-menu-item"><a href="/whatis/securityen">Security</a></li>
                                        <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="/whatis/energyen">Energy</a></li>
                                        <li id="menu-item-15268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268"><a href="/whatis/comforten">Comfort</a></li>
                                        <li id="menu-item-15281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281"><a href="/whatis/healthen">Health</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5"><div class="section-divider triangle down"></div><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h1 style="text-align: center;"><span style="font-size: 54px;" class="tX02247">HOME SAFETY &amp; SECURITY</span></h1></div></div></div></div><div class="section  no-margin section-768-triangle box_wrapper_style " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_visual "><h2 class="tX02250">Improved Security</h2><p><span class="tX02249">Zipato brings you a new generation of home safety and security.</span><br><span class="tX02248">Always connected to the central alarm station and with advanced remote and automation possibilities, Zipato provides&nbsp;the smartest way to protect your home from burglary, fire, flood, gas and other unwanted events. With Zipato you can have full control over your home even when you are not there.</span></p></div><div class="column one-second column_image ">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/much-better-security-min.png" alt="" width="437" height="238"></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section   security-home-mobile " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-second column_image cirle_box_image">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/11/shutterstock_16793008-768.png" alt="" width="768" height="552"></div></div>
                        </div><div class="column one-second column_visual "><h5 class="tX02260">Monitored Carbon Monoxide (1)</h5><p class="tX02259">Zipato can protect you from the colorless, flavourless gas</p><h5 class="tX02258">Monitored Smoke and Heat Detectors (2)</h5><p class="tX02257">Monitored fire/heat detectors alert you and enable Zipato to notify the Fire Department anytime smoke or heat are detected</p><h5 class="tX02256">Monitored Burglary (3)</h5><p class="tX02255">Monitored detectors alert you and enable Zipato to notify the Police Department anytime burglary is detected</p><h5 class="tX02254">Glass Break Detectors (4)</h5><p class="tX02253">Monitored detectors alert and enable Zipato to notify the Police Department anytime windows are broken.</p><h5 class="tX02252">Water/Flood Sensors (5)</h5><p class="tX02251">Monitored flood detectors alert you and enable Zipato to notify the Fire Department anytime excess water is detected.</p></div><div class="column one-second column_visual cirle_box_container" style="height: auto !important; width: 566px !important;"></div>
                    </div>
                </div>
            </div><div class="section   box_wrapper_style " id="security247" style="padding-top:60px; padding-bottom:0px; background-color:#1d1d1c"><div class="section-divider triangle down"></div><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h2 style="text-align: center;"><span style="color: #ffffff;" class="tX02272">Security Monitoring 24/7</span></h2><p style="text-align: center;"><span style="color: #ffffff; font-size: 16px;" class="tX02271">Zipato servers monitor your Zipato network and alert you instantly for burglary, fire, gas and environmental conditions.</span><br><span style="color: #ffffff; font-size: 16px;" class="tX02270">24-Hour Monitoring –&nbsp;Monitor your home 24/7 for burglary, fire and carbon monoxide.</span></p></div></div></div></div><div class="section  no-margin security-auto-mob box_wrapper_style " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
                <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one column_divider ">
                            <hr class="no_line" style="margin: 0 auto 20px;">
                        </div><div class="column one-second column_accordion  tX20243">
                            <div class="accordion">
                                <h4 class="title"></h4><h2 class="title">Security Automation</h2><div class="mfn-acc accordion_wrapper  open1st">
                                    <div class="question active"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Set your home on autopilot</div><div class="answer" style="display: block;">Set your lights and shades to mimic your usual patterns to appear as if you are at home, even when you are not. You can even turn on/off your TV to be more convincing in order to discourage potential burglars.</div></div>
                                    <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Entrance control</div><div class="answer">View who is on your front door and lock or unlock the front door over the web, phone or home touch panel. Know who just entered your home via event-based text, video or photo notifications. You can manage access through user codes, such as babysitter, house cleaner or other.</div></div>
                                    <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Video surveillance</div><div class="answer">Access cameras in your home or business remotely to see what triggered the alarm via live, real-time video. View video clips of pre-alarm and post-alarm events on your web-enabled mobile phone and PC. You can use night-vision cameras to see in dark, and megapixel camera to achieve perfect picture quality.</div></div>
                                </div>
                            </div>
                        </div><div class="column one-second column_image ">
                            <div class="animate fadeInUpLarge" data-anim-type="fadeInUpLarge">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Content/creative/img/images/2015/07/armed-ui-2-min-1.png" alt="" width="299" height="376"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section  no-margin box_wrapper_style desc-size " style="padding-top:60px; padding-bottom:40px; background-color:#f5f5f5">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one column_visual "><h2 style="text-align: center;" class="tX02273">Overview</h2></div><div class="column one column_divider ">
                            <hr class="hr_narrow " style="margin: 0 auto 20px;">
                        </div><div class="column one-fourth column_icon_box tX20430">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/world2.png" alt="Accessible from everywhere" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Accessible from everywhere</h4><div class="desc">Access and control your security system from anywhere. Whether through a remote PC or mobile device, if you can connect to the Internet, you can control your security system.</div></div></div>
                        </div><div class="column one-fourth column_icon_box tX20431">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/internet-cellular5.png" alt="Internet &amp; cellular connection" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Internet &amp; cellular connection</h4><div class="desc">Instead of using a standard phone line, which can be easily disabled by a burglar, the Zipato security system interacts with the central station faster and safer by using Internet or GSM connection. The secure internet or cellular link to the central station is digitally encrypted for added security. This makes it virtually impossible and unlikely that anyone could disable or disrupt your alarm signals.</div></div></div>
                        </div><div class="column one-fourth column_icon_box tX20432">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/Remote-Control.png" alt="Customize everything" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Customize everything</h4><div class="desc">Through Zipato's easy-to-use online security portal you can fully customize every aspect of your security system according to your needs. You can add as many partitions as you want in your security system. This way you can get the most reliable, secure and convenient security system for your home.</div></div></div>
                        </div><div class="column one-fourth column_icon_box tX20433">
                            <div class="icon_box icon_position_top no_border"><div class="image_wrapper"><img src="/Content/creative/img/images/2015/07/compatibility.png" alt="Wireless &amp; easy to install" class="scale-with-grid" width="83" height="83"></div><div class="desc_wrapper"><h4>Wireless &amp; easy to install</h4><div class="desc">Zipato's sensors communicate wirelessly with Zipabox's main controller. Not only is it incredibly easy to install the sensors, but it’s nearly impossible for an intruder to disable them. Fast and Easy! Your home can be totally protected with a basic Zipato system in about 30 minutes.</div></div></div>
                        </div>
                    </div>
                </div>
            </div><div class="section  no-margin-h no-margin-v sticky_submenu_main " id="sticky_submenu" style="padding-top: 0px; padding-bottom: 0px;">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_visual logo_submenu_sticky"><p style="margin: -10px 0px 0px 10px;"><a href="https://www.zipato.com/"><img class="alignleft size-full wp-image-15539" src="/Content/creative/img/images/2015/08/admin-logo.png" alt="admin-logo" width="73" height="22"></a></p></div><div class="column three-fourth column_column sticky_submenu_container">
                            <div class="column_attr align_right" style="">
                                <div class="menu-what-is-zipato-container">
                                    <ul id="submenu_top" class="submenu_top">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15641"><a href="https://www.zipato.com/what-is-zipato/overview">Overview</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-75 current_page_item menu-item-77"><a href="https://www.zipato.com/what-is-zipato/security">Security</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="https://www.zipato.com/what-is-zipato/energy">Energy</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15268"><a href="https://www.zipato.com/what-is-zipato/comfort">Comfort</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15281"><a href="https://www.zipato.com/what-is-zipato/health">Health</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
        </div>


    </div>

    <!-- .four-columns - sidebar -->

</div>
