@{
    ViewBag.Title = "Suport";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<style>
    .tooltip {
        top: 40px;
        background-color: #4cad50;
        color: white;
        border-radius: 5px;
        opacity: 0;
        position: absolute;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        width: 250px;
        padding-left: 2px;
        z-index: 1000;
    }

    .tooltip2 {
        background-color: #e64919;
    }

    .hover:hover .tooltip {
        opacity: 1;
    }

    .hover2:hover .tooltip {
        opacity: 1;
    }

    .hover3:hover .tooltip {
        opacity: 1;
    }

    .hover4:hover .tooltip {
        opacity: 1;
    }

    .hover5:hover .tooltip {
        opacity: 1;
    }

    .section {
        position: relative;
    }

    .section-divider.triangle.down {
        bottom: -15px;
    }

    .section-divider.triangle.down {
        bottom: -25px;
    }
    /*.section {
        position: relative;
    }
    .section-divider.triangle.down {
        bottom: -15px;
    }
    .section-divider.triangle.down {
        bottom: -25px;
    }
    .section-divider.triangle.up, .section-divider.triangle.down {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .box-title-over-image h2 span {
        line-height: 54px !important;
        color: white;
        font-weight: 300;
    }
    .box-title-over-image {
        left: 0;
        position: absolute;
        top: 6%;
        width: 40% !important;
    }
    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }*/
    .section_wrapper2 {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .one.column {
        width: 98%;
    }

    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }

    .one-second.column {
        width: 48%;
    }

    .one-second.column {
        width: 48%;
    }

    .column.column_divider, .column-margin-0px .column {
        margin-bottom: 0;
    }

    .one-third.column {
        width: 31.333%;
    }

    .column-margin-40px .column {
        margin-bottom: 40px;
    }

    .section_wrapper, .container, .with_aside .content_wrapper {
        max-width: 1180px;
    }

    .section_wrapper, .container, .with_aside .content_wrapper {
        max-width: 1180px;
    }

    .row, .clearfix {
        zoom: 1;
    }

    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .hover_color .hover_color_wrapper {
        text-decoration: none;
        padding: 10px 10px;
        text-align: center;
    }

    .hover_color_bg {
        border: 1px solid;
    }
</style>
<link rel="stylesheet" href="/Content/creative/css/submenu.css" />
<div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper2 clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name" style="margin: 0;"><h4 style="text-align: left;margin-top: 0;" class="tX02355">Suport</h4></div><div class="column three-fourth column_column breadcrumbs-nav">

            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_visual "><h1 style="text-align: center;" class="tX00125">HOW CAN WE HELP ?</h1></div>
            <div class="column one-second column_visual ">
                <div class="fusion-one-half one_half fusion-layout-column fusion-column last spacing-yes">
                    <div class="fusion-column-wrapper"><p><span style="font-size: 18px;" class="tX00128">Expert Help when you need  it.</span></p><p><span style="font-size: 18px;" class="tX00127">We’ve got a variety of resources to help you get the most out of Zipato</span></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section     column-margin-40px" style="padding-top:40px; padding-bottom:0px; background-color:#ffffff">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix"><div class="column one-third column_visual ">
            <div class="image"><img class="size-full wp-image-15190 alignleft" src="https://www.zipato.com/wp-content/uploads/2015/07/community-iconpng.png" alt="community-iconpng" width="83" height="83"></div><h2 class="tX00133 image">Community</h2><p class="tX00132">&nbsp;</p><p class="tX00131">&nbsp;</p><p class="tX00130">We encourage you to post questions &amp; problems on our public forum and they will be answered promptly.</p><p><a title="Click here to visit our Community" href="https://community.zipato.com/" target="_blank" class="tX00129">Visit&nbsp;Community</a></p></div><div class="column one-third column_visual "><h2 class="image"><img class="size-full wp-image-15355 alignleft" src="https://www.zipato.com/wp-content/uploads/2015/07/self-help-icon.png" alt="self-help-icon" width="83" height="83"></h2><h2 class="tX00136 image">Self-Help</h2><p class="tX00135">&nbsp;</p><p style="text-align: left;" class="tX00134">&nbsp;This is Free for everyone, and includes manuals, drivers, resource guides, troubleshooting FAQ’s and a public Q&amp;A forum.</p></div><div class="column one-third column_visual "><h2 class="image"><img class="size-full wp-image-15356 alignleft" src="https://www.zipato.com/wp-content/uploads/2015/07/ticketing-icon.png" alt="ticketing-icon" width="83" height="83"><span class="tX00141">Ticketing</span></h2><p style="text-align: left;" class="tX00140">&nbsp;</p><p style="text-align: left;" class="tX00139">&nbsp;</p><p style="text-align: left;" class="tX00138">For one-to-one direct access via our ticketing helpdesk, you can discuss all your setup &amp; installation issues with 4-hour response times (often much quicker non-peak hours). Premium support is available FREE of charge for all Zipato programming service subscribers.</p></div>
        </div>
    </div>
</div>
<div class="section     column-margin-40px" style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual "><h2 style="text-align: center;" class="tX00143">Customer Service</h2><p style="text-align: center;" class="tX00142">We service you 24/7 on phone or email.</p></div><div class="column one-second column_hover_color suport-buttons">
                <div class="hover_color" style="background:#f3f3f1;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#fff;"><a href="mailto:truong.nguyen@ariestechco.com"><div class="hover_color_wrapper"><h4 style="text-align: center;"><span style="color: #000000;">Contact Us</span></h4></div></a></div>
                </div>
            </div><div class="column one-second column_hover_color suport-buttons">
                <div class="hover_color" style="background:#f3f3f1;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#FFF;"><div class="hover_color_wrapper"><h4 style="text-align: center;"><span style="color: #000000;"><a href="tel:0911431489">Hotline 0911431489</a></span></h4></div></div>
                </div>
            </div>
        </div>
    </div>
</div>