
@{
    ViewBag.Title = "Tương Thích Zipato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .section_wrapper2 {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .one.column {
        width: 98%;
    }

    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }

    .one-second.column {
        width: 48%;
    }

    .one-second.column {
        width: 48%;
    }

    .column.column_divider, .column-margin-0px .column {
        margin-bottom: 0;
    }

    .rule_creator_box {
        border-top: 1px solid #f5f5f5;
    }

    .section-divider.triangle.down {
        bottom: -15px;
    }

    .section-divider.triangle.down {
        bottom: -25px;
    }

    .section-divider.triangle.up, .section-divider.triangle.down {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .one.column {
        width: 98%;
    }

    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }

    .content_video.iframe {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

        .content_video.iframe iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    iframe {
        max-width: 100%;
    }

    .section_wrapper, .container, .with_aside .content_wrapper {
        max-width: 1180px;
    }

    .row, .clearfix {
        zoom: 1;
    }

    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    img.scale-with-grid, #Content img {
        max-width: 100%;
        height: auto;
    }
    .aligncenter {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .hover_color .hover_color_wrapper {
        text-decoration: none;
        padding: 10px 10px;
        text-align: center;
    }
    .hover_color .hover_color_wrapper {
        text-decoration: none;
        padding: 40px 30px;
        text-align: center;
    }
    .hover_color .hover_color_bg {
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .one-third.column {
    width: 31.333%;
    }
    .box-protocols {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #1d1d1c;
    }
</style>
<link rel="stylesheet" href="/Content/creative/css/submenu.css" />
<div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper2 clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name" style="margin: 0;"><h4 style="text-align: left;margin-top: 0;" class="tX02355">Hướng Dẫn | Giao diện</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-how-it-works-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15223 page current-menu-item"><a href="/howitworks/overview">Tổng quan</a></li>
                            <li id="menu-item-15114" class="menu-item menu-item-type-post_type menu-item-object-page_item page-item-15106 menu-item-15114"><a href="/howitworks/interfaces">Giao diện</a></li>
                            <li id="menu-item-15113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15113"><a href="/howitworks/rulecreator">Nguyên Tắc</a></li>
                            <li id="menu-item-15112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15112"><a href="/howitworks/compatibility">Tương Thích</a></li>
                            <li id="menu-item-17974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17974"><a href="/howitworks/feature">Tính Năng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section-divider triangle down"></div>
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual ">
                <h1 style="text-align: center;"><span style="font-size: 54px;" class="tX02430">CÁC GIAO THỨC KẾT NỐI TƯƠNG THÍCH</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:">
    <div class="section-divider triangle down"></div>
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15230" src="/images/ARW_200-min.png" alt="ARW_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15231" src="/images/Avidsen_200-min.png" alt="Avidsen_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15232" src="/images/Chacon_200-min.png" alt="Chacon_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15233" src="/images/Chuango_200-min.png" alt="Chuango_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15235" src="/images/COCO_200-min.png" alt="COCO_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15236" src="/images/DSC_200-min.png" alt="DSC_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/EnOcean_200-min.png" alt="EnOcean_200-min" class="aligncenter size-full wp-image-15237" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15238" src="/images/Global_Cache_200-min.png" alt="Global_Cache_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15239" src="/images/Goelst_200-min.png" alt="Goelst_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15241" src="/images/Intertechno_200-min.png" alt="Intertechno_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/Intertek_200-min.png" alt="Intertek_200-min" class="aligncenter size-full wp-image-15242" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/IP-Camera_200-min.png" alt="IP-Camera_200-min" class="aligncenter size-full wp-image-15243" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/iskra_200-min.png" alt="iskra_200-min" class="aligncenter size-full wp-image-15244" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/Kangtai_200-min.png" alt="Kangtai_200-min" class="aligncenter size-full wp-image-15245" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/KNX_200-min.png" alt="KNX_200-min" class="aligncenter size-full wp-image-15246" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15247" src="/images/Lede_200-min.png" alt="Lede_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/Lightwave_200-min.png" alt="Lightwave_200-min" class="aligncenter size-full wp-image-15248" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/Longhorn_200-min.png" alt="Longhorn_200-min" class="aligncenter size-full wp-image-15249" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img src="/images/nest_200-min-1.png" alt="nest_200-min (1)" class="aligncenter size-full wp-image-15250" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15251" src="/images/Nexa_200-min.png" alt="Nexa_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15252" src="/images/Oregon_200-min.png" alt="Oregon_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15253" src="/images/OWL_200-min.png" alt="OWL_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15254" src="/images/p-1_245-min.png" alt="p-1_245-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15255" src="/images/Philips_Hue_200-min.png" alt="Philips_Hue_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15256" src="/images/Paradox_200-min.png" alt="Paradox_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15257" src="/images/Pulseworx_200-min.png" alt="Pulseworx_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15258" src="/images/Somfy_200-min.png" alt="Somfy_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15259" src="/images/Sonos_200-min.png" alt="Sonos_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15260" src="/images/Virtual-Device_200-min.png" alt="Virtual-Device_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15261" src="/images/Vision_200-min.png" alt="Vision_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15262" src="/images/Visonic_200-min.png" alt="Visonic_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15263" src="/images/X-10_245-min.png" alt="X-10_245-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15264" src="/images/ZigBee_200-min.png" alt="ZigBee_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one-third column_hover_color box-protocols">
                <div class="hover_color" style="background:#f5f5f5;" ontouchstart="this.classList.toggle('hover');">
                    <div class="hover_color_bg" style="background:#ffffff;"><div class="hover_color_wrapper"><img class="aligncenter size-full wp-image-15265" src="/images/Zwave_200-min.png" alt="Zwave_200-min" width="200" height="84"></div></div>
                </div>
            </div><div class="column one column_visual more_protocols_box"><h2 style="text-align: center;" class="tX02431">Sắp có thêm</h2></div>
        </div>
    </div>
</div>
<div class="section   buyNowUnderBox " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual ">
                <h2 style="text-align: center;"><a href="/products/shopvn/" class="tX02432">Mua Ngay</a></h2>
            </div>
        </div>
    </div>\
</div>
