
@{
    ViewBag.Title = "Interfaces Zipato";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<style>
    .box-title-over-box {
        position: relative;
    }

    .section {
        position: relative;
    }

    .section-divider.triangle.down {
        bottom: -15px;
    }

    .section-divider.triangle.down {
        bottom: -25px;
    }

    .section-divider.triangle.up, .section-divider.triangle.down {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .box-title-over-image h2 span {
        line-height: 54px !important;
        color: white;
        font-weight: 300;
    }

    .box-title-over-image {
        left: 0;
        position: absolute;
        top: 6%;
        width: 40% !important;
    }

    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .one.column {
        width: 98%;
    }

    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }

    .one-second.column {
        width: 48%;
    }

    .one-second.column {
        width: 48%;
    }

    .column.column_divider, .column-margin-0px .column {
        margin-bottom: 0;
    }
</style>
<link rel="stylesheet" href="/Content/creative/css/submenu.css" />
<div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name" style="margin: 0;"><h4 style="text-align: left;margin-top: 0;" class="tX02355">How It Works | Interfaces</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-how-it-works-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15223 page current-menu-item"><a href="/howitworks/overviewen">Overview</a></li>
                            <li id="menu-item-15114" class="menu-item menu-item-type-post_type menu-item-object-page_item page-item-15106 menu-item-15114"><a href="/howitworks/interfacesen">Interfaces</a></li>
                            <li id="menu-item-15113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15113"><a href="/howitworks/rulecreatoren">Rule Creator</a></li>
                            <li id="menu-item-15112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15112"><a href="/howitworks/compatibilityen">Compatibility</a></li>
                            <li id="menu-item-17974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17974"><a href="/howitworks/featureen">Features</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section   box-title-over-box " style="padding-top:0px; padding-bottom:0px; background-color:#cccccc">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Images/home-control-from-anywhere-devices.jpg" alt="" width="1100" height="709"></div></div>
            </div><div class="column one column_visual box-title-over-image"><h2 style="text-align: center;"><span style="font-size: 54px;" class="tX02357">HOME CONTROL FROM ANYWHERE</span></h2></div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#231f20"><div class="section-divider triangle down"></div><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h2 style="text-align: center;"><span style="color: #ffffff;" class="tX02359">Online / Web Browsers</span></h2><p style="text-align: center;"><span style="font-size: 16px; color: #ffffff;" class="tX02358">With&nbsp; Zipato online, you’re connected to your home in a whole new way. Via secure access from any web-enabled computer, you can view secure live video of your home, set up custom schedules, automate lights and thermostats for energy efficiency, and much more.</span></p></div></div></div></div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Images/Expand_How_LAPTOP-min.png" alt="" width="493" height="278"></div></div>
            </div><div class="column one-second column_visual "><h2 class="tX02363">What you can do with your Portal</h2><h3><span style="font-size: 20px;" class="tX02362">Your very own personal command center</span></h3><p class="tX02361">The Zipato web portal provides a private, secure access to your home for you to monitor and manage your home’s security. You’ll also be able to review home event history, set up email and text alerts, and customize your system by adding additional lights, appliances and devices.</p><p class="tX02360">Once you’ve signed in, the General Widget of the web portal displays the name of your Zipabox and a welcome message that includes your name, the current date, a Sign Out link, the date and time of your last sign-in.</p></div><div class="column one column_divider ">
                <hr class="no_line">
            </div><div class="column one-second column_visual "><p><span class="tX02366"><i class="icon-check"></i>Whether the security panel is armed, disarmed, or sounding an alarm</span><br><span class="tX02365"><i class="icon-check"></i>The overall state of devices and what connection path is being used</span><br><span class="tX02364"><i class="icon-check"></i>The current status of your devices</span></p></div><div class="column one-second column_visual "><p><span class="tX02369"><i class="icon-check"></i>Device activity that might be considered unusual</span><br><span class="tX02368"><i class="icon-check"></i>The scenarios which you can activate</span><br><span class="tX02367"><i class="icon-check"></i>Electricity consumption of all meter devices</span></p></div>
        </div>
    </div>
</div>
<div class="section   interfaces-768-align " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_visual "><h2 style="padding-top: 80px;" class="tX02373">Mobile</h2><h3><span style="font-size: 20px;" class="tX02372">Your smartphone just got smarter</span></h3><p class="tX02371">You access the Zipato mobile app on your iPhone™ or iPad™, so you’re always in the know, even when you’re on the go. You can also get Zipato wireless mobile access on your Blackberry™, or other web-enabled mobile devices. You can arm or disarm your alarm system, receive text and video alerts from your home, view real-time video, adjust lights or thermostats and more.</p><p class="tX02370">With Zipato you’ll be easily able see the status of your home’s security, receive text and video alerts of events at home, arm or disarm your alarm, monitor doors, windows and motion sensors, view live video via security cameras, and adjust lights and temperature for comfort or energy-efficiency.</p></div><div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Images/new-ui-07-min.png" alt="" width="500" height="500"></div></div>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_image ">
                <div class="animate fadeIn" data-anim-type="fadeIn">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Images/Zipato-Wall-Tablet-7-NewUI-min.png" alt="" width="493" height="305"></div></div>
                </div>
            </div><div class="column one-second column_visual "><h2 class="tX02375">Tablet / Touchpanel</h2><p class="tX02374">Get In Touch With Your Home&nbsp;with your touchscreen. Whether it’s on the table or wall-mounted, the touchscreen puts your home at your fingertips.</p></div><div class="column one-second column_accordion tX20244">
                <div class="accordion">
                    <div class="mfn-acc accordion_wrapper ">
                        <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Home Automation</div><div class="answer">Conveniently control all lights connected to your system with a touch of a button Know at a glance the security status of your home.</div></div>
                        <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Remote Security</div><div class="answer">Arm/disarm your system quickly with a touch of a button. Zipato 24/7 burglary, fire, and carbon monoxide monitoring will help you protect your home</div></div>
                        <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Lifestyle Management</div><div class="answer">Help save energy and money by adjusting lights that are connected to your system. Watch secure, real-time video from monitored areas of your home. You can even see who’s at your front door from without actually going to the door. Access your web photo account to use your touchscreen as a digital photo album. Check instant weather, traffic, sports, news and more.</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h2 style="text-align: center;" class="tX02376">Touchscreen&nbsp;Features</h2></div><div class="column one-second column_visual "><p><span class="tX02394"><i class="icon-check"></i></span><strong class="tX02393">Emergency:</strong><span class="tX02392"> Allows you to send an immediate alarm to the Zipato central monitoring station, indicating an emergency of a specific type—medical, fire, or police.</span></p><p><span class="tX02391"><i class="icon-check"></i></span><strong class="tX02390">Arm:</strong><span class="tX02389"> When your system is disarmed, the ARM button appears on your display. To arm the system, just touch the ARM button.</span></p><p><span class="tX02388"><i class="icon-check"></i></span><strong class="tX02387">Settings:</strong><span class="tX02386"> Displays a list of options you can set, including current time and your time zone, add or delete users or set the security passcode for users, system sounds and screen backgrounds.</span></p><p><span class="tX02385"><i class="icon-check"></i></span><strong class="tX02384">Cameras: </strong><span class="tX02383">Displays a list of active cameras. Pick one to see live video feed for that camera.</span></p><p><span class="tX02382"><i class="icon-check"></i></span><strong class="tX02381">Lights:</strong><span class="tX02380"> Controls all your Zigbee or Z-wave enabled indoor or outdoor lights.</span></p><p><span class="tX02379"><i class="icon-check"></i></span><strong class="tX02378">Night mode: </strong><span class="tX02377">Dims the screen when you turn off the lights.</span></p></div><div class="column one-second column_visual "><p><span class="tX02412"><i class="icon-check"></i></span><strong class="tX02411">Clock:</strong><span class="tX02410">&nbsp;Displays the current time.</span></p><p><span class="tX02409"><i class="icon-check"></i></span><strong class="tX02408">News:</strong><span class="tX02407">&nbsp;Presents news headlines, pictures, and brief stories in a slideshow format.</span></p><p><span class="tX02406"><i class="icon-check"></i></span><strong class="tX02405">Photos:&nbsp;</strong><span class="tX02404">Allows you to display photos from your Yahoo! Flickr account in full-screen mode on the touchscreen.</span></p><p><span class="tX02403"><i class="icon-check"></i></span><strong class="tX02402">Traffic:</strong><span class="tX02401">&nbsp;Provides a quick way for you to check traffic in your area. Uses Google Maps to display a map of your area with live traffic data. Add multiple locations, such as office, airport, school, and home..</span></p><p><span class="tX02400"><i class="icon-check"></i></span><strong class="tX02399">Weather:</strong><span class="tX02398">&nbsp;Displays the current weather conditions and a five-day forecast. Add and view multiple weather reports by entering the zip codes of the desired areas.</span></p><p><span class="tX02397"><i class="icon-check"></i></span><strong class="tX02396">Scenes:</strong><span class="tX02395">&nbsp;Save your light and shading status and call it whenever you want by just click of the scene button.</span></p></div></div></div></div>
