
@{
    ViewBag.Title = "Giao Diện Zipato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .box-title-over-box {
        position: relative;
    }
    .section {
        position: relative;
    }
    .section-divider.triangle.down {
        bottom: -15px;
    }
    .section-divider.triangle.down {
        bottom: -25px;
    }
    .section-divider.triangle.up, .section-divider.triangle.down {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .box-title-over-image h2 span {
        line-height: 54px !important;
        color: white;
        font-weight: 300;
    }
    .box-title-over-image {
        left: 0;
        position: absolute;
        top: 6%;
        width: 40% !important;
    }
    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .one.column {
        width: 98%;
    }
    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }
    .one-second.column {
        width: 48%;
    }
    .one-second.column {
        width: 48%;
    }
    .column.column_divider, .column-margin-0px .column {
        margin-bottom: 0;
    }
</style>
<link rel="stylesheet" href="/Content/creative/css/submenu.css" />
<div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name" style="margin: 0;"><h4 style="text-align: left;margin-top: 0;" class="tX02355">Hướng Dẫn | Giao diện</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-how-it-works-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15223"><a href="/howitworks/overview">Tổng quan</a></li>
                            <li id="menu-item-15114" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15106 current_page_item menu-item-15114"><a href="/howitworks/interfaces">Giao diện</a></li>
                            <li id="menu-item-15113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15113"><a href="/howitworks/rulecreator">Nguyên Tắc</a></li>
                            <li id="menu-item-15112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15112"><a href="/howitworks/compatibility">Tương Thích</a></li>
                            <li id="menu-item-17974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17974"><a href="/howitworks/feature">Tính Năng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section   box-title-over-box " style="padding-top:0px; padding-bottom:0px; background-color:#cccccc;text-align:center;">
    <div class="section-divider triangle down"></div>
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_image" style="text-align: center;">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="https://www.zipato.com/wp-content/uploads/2016/07/home-control-from-anywhere-devices.jpg" alt="" width="1100" height="709"></div></div>
            </div>
            <div class="column one column_visual box-title-over-image"><h2 style="text-align: center;"><span style="font-size: 54px;" class="tX02357">ĐIỀU KHIỂN NHÀ Ở MỌI NƠI</span></h2></div>
        </div>
    </div>
</div>
<div class="section" style="padding-top:60px; padding-bottom:0px; background-color:#231f20">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_visual "><h2 style="text-align: center;"><span style="color: #ffffff;" class="tX02359">Online / Web Browsers</span></h2><p style="text-align: center;"><span style="font-size: 16px; color: #ffffff;" class="tX02358">Với Zipato trực tuyến, bạn sẽ kết nối với ngôi nhà của mình theo một cách hoàn toàn mới. Thông qua truy cập an toàn từ bất kỳ máy tính có hỗ trợ web nào, bạn có thể xem video trực tuyến an toàn của nhà bạn, thiết lập lịch biểu tùy chỉnh, đèn và nhiệt độ tự động cho hiệu suất tốt hơn và còn nhiều hơn nữa.</span></p></div></div></div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/images/Expand_How_LAPTOP-min.png" alt="" height="278" width="493"></div></div>
            </div><div class="column one-second column_visual "><h2 class="tX02363">Những điều sau bạn sẽ làm được với Portal</h2><h3><span style="font-size: 20px;" class="tX02362">Trung tâm chỉ huy cá nhân của bạn</span></h3><p class="tX02361">Cổng thông tin Zipato cung cấp truy cập an toàn cá nhân tới nhà của bạn để bạn có thể theo dõi và quản lý an ninh tại nhà. Bạn cũng có thể xem lại lịch sử sự kiện tại nhà, thiết lập email và cảnh báo văn bản và tùy chỉnh hệ thống bằng cách thêm đèn, thiết bị và thiết bị bổ sung.</p><p class="tX02360">Khi bạn đã đăng nhập, Widget chung của cổng web sẽ hiển thị tên của Zipabox của bạn và một thông báo chào mừng bao gồm tên, ngày hiện tại, liên kết Đăng xuất, ngày và thời gian đăng nhập lần cuối của bạn.</p></div><div class="column one column_divider ">
                <hr class="no_line">
            </div><div class="column one-second column_visual "><p><span class="tX02366"><i class="icon-check"></i>Bảng điều khiển bảo mật được trang bị, ngắt quãng hay báo động</span><br><span class="tX02365"><i class="icon-check"></i>Trạng thái tổng thể của thiết bị và đường dẫn kết nối đang được sử dụng</span><br><span class="tX02364"><i class="icon-check"></i>Trạng thái hiện tại của thiết bị của bạn</span></p></div><div class="column one-second column_visual "><p><span class="tX02369"><i class="icon-check"></i>Hoạt động của thiết bị có thể được coi là bất thường</span><br><span class="tX02368"><i class="icon-check"></i>Các kịch bản mà bạn có thể kích hoạt</span><br><span class="tX02367"><i class="icon-check"></i>Điện tiêu thụ của tất cả các thiết bị</span></p></div>
        </div>
    </div>
</div>
<div class="section   interfaces-768-align " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_visual ">
                <h2 style="padding-top: 80px;" class="tX02373">Di động</h2><h3><span style="font-size: 20px;" class="tX02372">Điện thoại thông minh của bạn chỉ có thông minh hơn</span></h3>
                <p class="tX02371">
                    Bạn truy cập vào ứng dụng di động Zipato trên iPhone ™ hoặc iPad ™ , vì vậy bạn luôn biết, ngay cả khi bạn đang di chuyển. Bạn cũng có thể truy cập vào điện thoại di động không dây Zipato trên Blackberry ™, hoặc các thiết bị di động hỗ trợ web khác. Bạn có thể trang bị hệ thống báo thức, nhận thông báo bằng văn bản và video từ nhà của bạn, xem video trong thời gian thực, điều chỉnh đèn hoặc nhiệt độ...
                </p>
                <p class="tX02370">Với Zipato, bạn dễ dàng nhìn thấy trạng thái an ninh của nhà bạn, nhận được tin nhắn văn bản và video về các sự kiện ở nhà, hoặc báo thức, kiểm soát cửa ra vào, cửa sổ và cảm biến chuyển động, xem video trực tiếp qua camera an ninh và điều chỉnh đèn Và nhiệt độ để tạo sự thoải mái hoặc tiết kiệm năng lượng.</p>
            </div><div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/images/new-ui-07-min.png" alt="" height="500" width="500"></div></div>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_image ">
                <div class="animate fadeIn" data-anim-type="fadeIn">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="https://www.zipato.com/wp-content/uploads/2015/07/Zipato-Wall-Tablet-7-NewUI-min.png" alt="" height="305" width="493"></div></div>
                </div>
            </div><div class="column one-second column_visual "><h2 class="tX02375">Tablet / Touchpanel</h2><p class="tX02374">Kiểm soát nhà của bạn chỉ bằng cách chạm màn hình. Cho dù đó là trên bàn hoặc trên tường, màn hình cảm ứng đặt nhà của bạn trong tầm tay bạn</p></div><div class="column one-second column_accordion tX20244">
                <div class="accordion">
                    <div class="mfn-acc accordion_wrapper ">
                        <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Tự Động Hóa</div><div class="answer">Thuận tiện kiểm soát tất cả các đèn kết nối với hệ thống của bạn bằng một nút nhấn. Biết trong nháy mắt trạng thái an toàn của nhà bạn.</div></div>
                        <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Bảo Mật Từ Xa</div><div class="answer">Điều khiển hệ thống của bạn một cách nhanh chóng chỉ bằng một nút. Phát hiện trộm, lửa, khí carbon sẽ giúp bạn bảo vệ ngôi nhà của mình</div></div>
                        <div class="question"><div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Quản Lý Phong Cách Sống</div><div class="answer">Giúp tiết kiệm năng lượng và tiền bạc bằng cách điều chỉnh đèn chiếu sáng được kết nối với hệ thống của bạn. Xem video an toàn, thời gian thực từ các khu vực được giám sát tại nhà của bạn. Bạn thậm chí có thể nhìn thấy ai đang ở cửa trước của bạn mà không thực sự đi đến cửa. Truy cập tài khoản ảnh trên web của bạn để sử dụng màn hình cảm ứng của bạn dưới dạng album ảnh kỹ thuật số. Kiểm tra thời tiết, giao thông, thể thao, tin tức và nhiều hơn nữa.</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual "><h2 style="text-align: center;" class="tX02376">Tính năng màn hình cảm ứng</h2></div>
            <div class="column one-second column_visual "><p><span class="tX02394"><i class="icon-check"></i></span><strong class="tX02393">Trường hợp khẩn cấp:</strong><span class="tX02392"> Cho phép bạn gửi một cảnh báo ngay tới trạm giám sát trung tâm Zipato, chỉ ra trường hợp khẩn cấp của một loại hình cụ thể - y tế, hỏa hoạn, hoặc cảnh sát.</span></p><p><span class="tX02391"><i class="icon-check"></i></span><strong class="tX02390">Arm:</strong><span class="tX02389"> Khi hệ thống của bạn bị vô hiệu, nút ARM xuất hiện trên màn hình của bạn. Biểu tượng cánh tay của hệ thống, chỉ cần chạm vào nút ARM.</span></p><p><span class="tX02388"><i class="icon-check"></i></span><strong class="tX02387">Cấu Hình:</strong><span class="tX02386"> Hiển thị danh sách các tùy chọn mà bạn có thể thiết lập, bao gồm thời gian hiện tại và múi giờ của bạn, thêm hoặc xóa người dùng hoặc thiết lập mã bảo mật cho người dùng, âm thanh hệ thống và hình nền màn hình.</span></p><p><span class="tX02385"><i class="icon-check"></i></span><strong class="tX02384">Cameras: </strong><span class="tX02383">Hiển thị một danh sách các camera đang hoạt động. Chọn một để xem nguồn cấp dữ liệu video trực tuyến cho camera đó.</span></p><p><span class="tX02382"><i class="icon-check"></i></span><strong class="tX02381">Đèn điện:</strong><span class="tX02380"> Kiểm soát tất cả đèn bên trong và bên ngoài nhà bạn</span></p><p><span class="tX02379"><i class="icon-check"></i></span><strong class="tX02378">Chế độ ban đêm: </strong><span class="tX02377">Làm mờ màn hình khi bạn tắt đèn</span></p></div><div class="column one-second column_visual ">
                <p><span class="tX02412"><i class="icon-check"></i></span><strong class="tX02411">Đồng hồ:</strong><span class="tX02410">&nbsp;Hiển thị thời gian hiện tại.</span></p><p><span class="tX02409"><i class="icon-check"></i></span><strong class="tX02408">Tin tức:</strong><span class="tX02407">&nbsp;Trình bày các tiêu đề, hình ảnh và câu chuyện ngắn gọn trong một định dạng trình chiếu.</span></p><p><span class="tX02406"><i class="icon-check"></i></span><strong class="tX02405">Hình Ảnh:&nbsp;</strong><span class="tX02404">Cho phép bạn hiển thị ảnh từ tài khoản Yahoo! Flickr ở chế độ toàn màn hình trên màn hình cảm ứng.</span></p><p><span class="tX02403"><i class="icon-check"></i></span><strong class="tX02402">Giao thông:</strong><span class="tX02401">&nbsp;Cung cấp một cách nhanh chóng để bạn kiểm tra lưu lượng truy cập trong khu vực của bạn. Sử dụng Google Maps để hiển thị bản đồ khu vực của bạn với dữ liệu lưu lượng truy cập trực tiếp. Thêm nhiều địa điểm, chẳng hạn như văn phòng, sân bay, trường học và nhà riêng ..</span></p><p><span class="tX02400"><i class="icon-check"></i></span><strong class="tX02399">Thời tiết:</strong><span class="tX02398">&nbsp;Hiển thị các điều kiện thời tiết hiện tại và dự báo 5 ngày. Thêm và xem nhiều báo cáo thời tiết bằng cách nhập mã zip của các khu vực bạn muốn.</span></p><p><span class="tX02397"><i class="icon-check"></i></span><strong class="tX02396">Phân Cảnh(Scenes):</strong><span class="tX02395">&nbsp;Lưu trạng thái ánh sáng và bóng mờ của bạn và gọi nó bất cứ khi nào bạn muốn bằng cách nhấp vào nút Scenes.</span></p>
            </div>
        </div>
    </div>
</div>