
@{
    ViewBag.Title = "interfaces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .box-title-over-box {
        position: relative;
    }
    .section {
        position: relative;
    }
    .section-divider.triangle.down {
        bottom: -15px;
    }
    .section-divider.triangle.down {
        bottom: -25px;
    }
    .section-divider.triangle.up, .section-divider.triangle.down {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .box-title-over-image h2 span {
        line-height: 54px !important;
        color: white;
        font-weight: 300;
    }
    .box-title-over-image {
        left: 0;
        position: absolute;
        top: 6%;
        width: 40% !important;
    }
    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
</style>
<div class="section   box-title-over-box " style="padding-top:0px; padding-bottom:0px; background-color:#cccccc;text-align:center;">
    <div class="section-divider triangle down"></div>
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_image" style="text-align: center;">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="https://www.zipato.com/wp-content/uploads/2016/07/home-control-from-anywhere-devices.jpg" alt="" width="1100" height="709"></div></div>
            </div>
            <div class="column one column_visual box-title-over-image"><h2 style="text-align: center;"><span style="font-size: 54px;" class="tX02357">ĐIỀU KHIỂN NHÀ Ở MỌI NƠI</span></h2></div>
        </div>
    </div>
</div>

