@{
    ViewBag.Title = "Tổng quan hoạt động của Zipato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tooltip {
        top: 40px;
        background-color: #4cad50;
        color: white;
        border-radius: 5px;
        opacity: 0;
        position: absolute;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        width: 250px;
        padding-left: 2px;
        z-index: 1000;
    }

    .tooltip2 {
        background-color: #e64919;
    }

    .hover:hover .tooltip {
        opacity: 1;
    }

    .hover2:hover .tooltip {
        opacity: 1;
    }

    .hover3:hover .tooltip {
        opacity: 1;
    }

    .hover4:hover .tooltip {
        opacity: 1;
    }

    .hover5:hover .tooltip {
        opacity: 1;
    }
   
     
    /*.section {
        position: relative;
    }
    .section-divider.triangle.down {
        bottom: -15px;
    }
    .section-divider.triangle.down {
        bottom: -25px;
    }
    .section-divider.triangle.up, .section-divider.triangle.down {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .box-title-over-image h2 span {
        line-height: 54px !important;
        color: white;
        font-weight: 300;
    }
    .box-title-over-image {
        left: 0;
        position: absolute;
        top: 6%;
        width: 40% !important;
    }
    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }*/
    .section_wrapper2{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
     .one.column {
        width: 98%;
    }
    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }
    .one-second.column {
        width: 48%;
    }
    .one-second.column {
        width: 48%;
    }
    .column.column_divider, .column-margin-0px .column {
        margin-bottom: 0;
    }
</style>
<link rel="stylesheet" href="/Content/creative/css/submenu.css" />
<div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper2 clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name" style="margin: 0;"><h4 style="text-align: left;margin-top: 0;" class="tX02355">Hướng Dẫn | Giao diện</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-how-it-works-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15223 page current-menu-item"><a href="/howitworks/overview">Tổng quan</a></li>
                            <li id="menu-item-15114" class="menu-item menu-item-type-post_type menu-item-object-page_item page-item-15106 menu-item-15114"><a href="/howitworks/interfaces">Giao diện</a></li>
                            <li id="menu-item-15113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15113"><a href="/howitworks/rulecreator">Nguyên Tắc</a></li>
                            <li id="menu-item-15112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15112"><a href="/howitworks/compatibility">Tương Thích</a></li>
                            <li id="menu-item-17974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17974"><a href="/howitworks/feature">Tính Năng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="slider-top" class="hidden-xs" style="float:left;position:relative;width:100%;">
    <div class="container fill">
        <div id="carousel-slider-top-home" class="col-md-12" data-ride="carousel" style="padding-left:0;">
            <div class="huongdan_bg">
                <div class="image-content" style="float:left;position:relative;width:100%;">
                    <img class="overview-background-img" src="/images/house-grayscale.jpg" alt="">
                </div>
            </div>
            <div>
                <div class="huongdan_tab1_icon" style="height: 560px !important;" id="tab1">
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab1_1 hover" title="Cảm ứng lạnh">
                        <span class="tooltip">
                            <p><b>Đồng hồ điện</b></p>
                            <p>Bạn có thể kết nối Đồng hồ điện với bất kỳ mạch điện nào ở nhà bạn. Bạn sẽ nhận được dữ liệu thời gian thực về tiêu thụ năng lượng trong đơn vị đo chuẩn. Bạn có thể đồng bộ các phép đo với máy chủ đám mây để hình dung và phân tích mức tiêu thụ năng lượng của bạn và tạo các quy tắc tiết kiệm năng lượng của riêng bạn bằng cách sử dụng Zipato Rule Creator.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab1_2 hover2" title="Cảm biến nhiệt độ">
                        <span class="tooltip">
                            <p><b>Cảm biến nhiệt độ</b></p>
                            <p>Cảm biến nhiệt độ có thể được đặt trong nhà như là các thiết bị độc lập hoặc như một phần của thiết bị đa cảm biến. Bạn có thể sử dụng các phép đo nhiệt độ để điều chỉnh các thiết bị sưởi ấm và làm mát của bạn. Bằng cách này, Zipato sẽ hoạt động như một bộ điều chỉnh nhiệt độ tiên tiến mà bạn có thể mở rộng bằng cách sử dụng Zipato Rule Creator để tạo các kịch bản thoải mái của riêng mình.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab1_3 hover3" title="Bật mở điện">
                        <span class="tooltip">
                            <p><b>Bật mở điện</b></p>
                            <p>Cách đơn giản nhất để tự động hoá đèn của bạn hoặc các thiết bị gia dụng khác. Chỉ cần cắm chúng vào ổ cắm điện và sử dụng chúng như ổ cắm tự động cho bất kỳ thiết bị nào bạn muốn. Bạn có thể kiểm soát thiết bị cắm trên bất kỳ thiết bị hỗ trợ Internet nào và tự động hoá chúng theo ý muốn của bạn. Bạn cũng có thể nhận được báo cáo chi tiết về tiêu thụ năng lượng của thiết bị được kết nối và sử dụng thông tin này để tối ưu hóa hiệu suất năng lượng.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab1_4 hover4" title="Điều chỉnh sáng">
                        <span class="tooltip">
                            <p><b>Điều chỉnh sáng</b></p>
                            <p>Tương tự như thiết bị chuyển mạch nhưng cho phép bạn điều chỉnh ánh sáng của bạn ở mức mong muốn. Bằng cách này bạn có thể sử dụng Zipato để tự động thiết lập đèn của bạn đến 80% nếu phòng không được hoán đổi hoặc thậm chí tắt chúng sau một khoảng thời gian nhất định. Tất nhiên, đèn sẽ tự động bật khi ai đó bước vào phòng. Bằng cách này bạn có thể tiết kiệm đến 30% trên hóa đơn điện của bạn.</p>
                        </span>
                    </div>
                </div>
                <div class="huongdan_tab2_icon" style="height: 560px !important;display:none;" id="tab2">
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab2_1 hover" title="An Ninh">
                        <span class="tooltip">
                            <p><b>An Ninh</b></p>
                            <p>Zipato giải pháp kết hợp giám sát bằng video, cửa / cửa sổ, chuyển động và cảm biến ánh sáng để cung cấp bảo vệ các xâm nhập không mong muốn và các vấn đề an ninh khác. Dịch vụ theo dõi miễn phí 24/7 cung cấp các cảnh báo thời gian thực thông qua thông báo điện thoại thông minh, SMS và email.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab2_2 hover2" title="Phát hiện chuyển động">
                        <span class="tooltip">
                            <p><b>Phát hiện chuyển động</b></p>
                            <p>Cảm biến chuyển động có thể phù hợp với nhiều mục đích khi là một phần của hệ thống Zipato. Zipato có thể sử dụng cùng một máy dò chuyển động cho an ninh, chăm sóc người cao tuổi, tiết kiệm năng lượng và các mục đích tiện nghi..</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab2_3 hover3" title="Cảm biến rung động">
                        <span class="tooltip">
                            <p><b>Cảm biến rung động</b></p>
                            <p>Máy dò rung động này sẽ phát hiện ngay cả rung động nhỏ nhất. Nó có thể được đặt trên tường để kích hoạt một báo động trong trường hợp một ai đó cố gắng phá cửa hoặc tường, thông qua các cửa hoặc tường mỏng. Bạn có thể dễ dàng thiết lập Zipato để gửi thông báo cho ai và dưới dạng nào (email, tin nhắn văn bản, cuộc gọi điện thoại, Twitter ...)..</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab2_4 hover4" title="Khóa cửa tự động">
                        <span class="tooltip">
                            <p><b>Khóa cửa tự động</b></p>
                            <p>Bạn có thể sử dụng hệ thống Zipato để kiểm soát bất kỳ khóa điện tử nào. Bằng cách này, bạn có thể khóa / mở  cửa từ xa qua điện thoại của bạn, hoặc lập chương trình tự khóa cửa để khóa tự động vào thời gian bạn mong muốn mỗi ngày.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab2_5 hover5" title="Máy dò vỡ kính">
                        <span class="tooltip">
                            <p><b>Máy dò vỡ kính</b></p>
                            <p>Bạn có thể đặt máy dò này trong bất kỳ phòng nào có mặt kính trong suốt mà ai đó có thể đột nhập vào nhà bạn. Nó sẽ phát hiện âm thanh vỡ kính cụ thể và kích hoạt một báo động về Zipato. Bạn có thể dễ dàng thiết lập Zipato để gửi thông báo cho ai và dưới dạng nào (email, tin nhắn văn bản, cuộc gọi điện thoại, Twitter ...).</p>
                        </span>
                    </div>
                </div>
                <div class="huongdan_tab3_icon" style="height: 560px !important;display:none;" id="tab3">
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab3_1 hover" title="Bật tắt chuyển đổi">
                        <span class="tooltip">
                            <p><b>Bật tắt chuyển đổi</b></p>
                            <p>Zipato cung cấp nhiều thiết bị chuyển mạch từ xa, từ micromodules mà bạn có thể ẩn trong hộp tường của bạn để plug-in-switch dễ dàng cắm vào ổ cắm điện của bạn, cho phép bạn từ xa bật / tắt các thiết bị được kết nối. Micromodule Motor Controller cho phép bạn kiểm soát và tinh chỉnh vị trí của cửa chớp hoặc rèm cửa.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab3_2 hover2" title="Cảm biến nhiệt độ">
                        <span class="tooltip">
                            <p><b>Cảm biến nhiệt độ</b></p>
                            <p>Cảm biến nhiệt độ cho phép bạn đo mức nhiệt độ phòng. Các mức nhiệt độ khác nhau có thể kích hoạt nhiều sự thoải mái khác nhau. Tự động thao tác thiết bị HVAC của bạn để đạt được nhiệt độ môi trường tối ưu.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab3_3 hover3" title="Đèn">
                        <span class="tooltip">
                            <p><b>Đèn</b></p>
                            <p>Bộ làm nguội Zipato có thể được sử dụng để tự động làm mờ mức sáng tới các giá trị mong muốn. Chúng có thể là một phần của các tình huống phức tạp sử dụng các thiết bị khác như cảm biến độ sáng, cửa / cửa sổ và cảm biến chuyển động ví dụ: Chúng luôn có thể mờ đến 80% khi không có ai đến, hoặc đèn có thể được đặt để tự động thay đổi tùy thuộc vào ánh sáng của căn phòng.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab3_4 hover4" title="IR controller">
                        <span class="tooltip">
                            <p><b>IR controller</b></p>
                            <p>Bộ mở rộng IR Zipato có thể được sử dụng để điều khiển từ xa các thiết bị HVAC và thiết bị AV hồng ngoại ví dụ: Bộ điều chỉnh Z-Wave có thể thay đổi nhiệt độ phòng bằng cách điều khiển thiết bị HVAC thông qua bộ mở rộng IR Zipato.</p>
                        </span>
                    </div>
                </div>
                <div class="huongdan_tab4_icon" style="height: 560px !important;display:none;" id="tab4">
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab4_1 hover" title="Cảm biến lạnh">
                        <span class="tooltip">
                            <p><b>Cảm biến lạnh</b></p>
                            <p>Ngăn chặn các ống vỡ và giúp bảo vệ nhà của bạn khỏi bị hư hỏng do đóng băng.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab4_2 hover2" title="Cảm biến cháy">
                        <span class="tooltip">
                            <p><b>Cảm biến cháy</b></p>
                            <p>Nhận báo động khi có hiện tượng khói được phát hiện trong nhà bạn. Đặt nhà của bạn để tự động gọi giúp đỡ nếu bạn ở ngoài tầm kiểm soát.</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab4_3 hover3" title="Phát hiện ga">
                        <span class="tooltip">
                            <p><b>Phát hiện ga</b></p>
                            <p>Máy dò khí tự nhiên không dây này cung cấp cảnh báo nhanh về sự rò rỉ khí tự nhiên (Methane CH4) thường được sử dụng để nấu nướng, gia đình và nước chữa bệnh. Nó sẽ kích hoạt một báo động sớm để Zipato có thể gửi cảnh báo theo thiết lập của bạn (email, tin nhắn văn bản, gọi điện thoại, twitter ...).</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab4_4 hover4" title="Phát hiện khí CO">
                        <span class="tooltip">
                            <p><b>Phát hiện khí CO</b></p>
                            <p>Máy dò này sẽ kích hoạt một báo động sớm trong trường hợp phát hiện khí CO không màu . Bạn có thể dễ dàng thiết lập Zipato để gửi thông báo cho ai và dưới dạng nào (email, tin nhắn văn bản, cuộc gọi điện thoại, Twitter ...)</p>
                        </span>
                    </div>
                    <div data-title-main="abc 1" data-title="abc 2" class="huongdan_tab4_5 hover5" title="Cảm biến lũ">
                        <span class="tooltip">
                            <p><b>Cảm biến lũ</b></p>
                            <p>Bảo vệ ngôi nhà của bạn trong trường hợp lũ lụt. Nhận được thông báo trong giai đoạn đầu và tắt thông báo từ xa hoặc thiết lập Zipato để làm điều đó tự động.</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 huongdan_tab"><p class="huongdan_tab_p"><a title="NĂNG LƯỢNG" href="#" class="huongdan_tab_a" onclick="showTab(1);">NĂNG LƯỢNG</a></p></div>
        <div class="col-md-3 huongdan_tab2"><p class="huongdan_tab_p"><a title="AN NINH" href="#" class="huongdan_tab_a" onclick="showTab(2);">AN NINH</a></p></div>
        <div class="col-md-3 huongdan_tab3"><p class="huongdan_tab_p"><a title="TIỆN NGHI" href="#" class="huongdan_tab_a" onclick="showTab(3);">TIỆN NGHI</a></p></div>
        <div class="col-md-3 huongdan_tab4"><p class="huongdan_tab_p"><a title="AN TOÀN" href="#" class="huongdan_tab_a" onclick="showTab(4);">AN TOÀN</a></p></div>
    </div>
    
</section>
<div class="col-md-12" style="float:left;position:relative;width:100%;background-color:#ffffff;" id="submenu2">
    <div class="section" style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix" style="max-width: 1200px;margin: 0 auto;position: relative;">
            <div class="items_group clearfix">
                <div class="column one column_visual" style=" float: left;margin: 0 1% 40px;"><h2 style="text-align: center;" class="tX02458">NỀN TẢNG Zipato</h2><p style="text-align: center;">
                    <span style="font-size: 18px;" class="tX02457">
                        Nền tảng tự động hóa hoàn chỉnh bao gồm bộ điều khiển cục bộ, máy chủ đám mây, ứng dụng người dùng và quản trị viên làm việc cùng nhau liền mạch.
                    </span></p></div><div class="column one column_image ">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/images/Zipato-Arhitecture.jpg" alt="" width="1100" height="450"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="float:left;position:relative;width:100%;background-color:#ffffff;" id="submenu3">
    <div class="section  no-margin  " style="padding-top:60px; padding-bottom:60px; background-color:#f5f5f5">
        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix" style="max-width: 1200px;margin: 0 auto;position: relative;">
    <div class="items_group clearfix">
        <div class="column one column_visual " style=" float: left;margin: 0 1% 40px;"><h2 class="tX02461" style="text-align: center;">Zipato Agent&nbsp;- TRÁI TIM CỦA HỆ THỐNG</h2><p style="text-align: center;"><span class="tX02460" style="font-size: 18px;">Kết nối tất cả –&nbsp; the Zipato Agent là phần mềm chạy bên trong bộ điều khiển Zipato.</span><span class="tX02459" style="font-size: 18px;">Hỗ trợ tất cả các tiêu chuẩn kết nối tự động, the Zipato Agent sẽ kết nối và quản lý tất cả các thiết bị trong nhà.</span></p></div><div class="column one column_image ">
            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Images/Protocols-Update-02.jpg" alt="" width="1100" height="645"></div></div>
        </div><div class="column one column_visual other_protocols_editor"><p style="text-align: center;"><span style="text-align: center;" class="tX02462">Zipato Agent kiểm soát tất cả các bộ điều khiển Zipato</span></p></div>
    </div>
    </div>
    </div>
</div>
<div class="col-md-12" style="float:left;position:relative;width:100%;background-color:#ffffff;" id="submenu4">
    <div class="section   fullwidthcontainer " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
            <div class="items_group clearfix">
                <div class="column one column_slider_plugin ">
                    <div class="mfn-main-slider" id="mfn-rev-slider">
                        <div id="rev_slider_14_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: rgb(255, 255, 255); padding: 0px; height: 650px; overflow: visible;">
                            <!-- START REVOLUTION SLIDER 5.0.5 auto mode -->
                            <div id="rev_slider_14_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="margin-top: 0px; margin-bottom: 0px; height: 650px;" data-version="5.0.5">
                                <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1903px; height: 100%; max-height: none; left: 0px;">
                                    <!-- SLIDE  -->
                                    <li data-index="rs-81" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-delay="3000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;">
                                        <!-- MAIN IMAGE -->
                                        <div class="slotholder" style="width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://www.zipato.com/wp-content/plugins/revslider/admin/assets/images/transparent.png" style="background-color:#ffffff" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="" width="1100" height="400">--><div class="tp-bgimg defaultimg" style="background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-image: url(&quot;https://www.zipato.com/wp-content/plugins/revslider/admin/assets/images/transparent.png&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://www.zipato.com/wp-content/plugins/revslider/admin/assets/images/transparent.png"></div></div>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 687px; top: 18px; z-index: 5;">
                                            <div class="tp-loop-wrap" style="position:absolute;">
                                                <div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
                                                    <div class="tp-caption   tp-resizeme" id="slide-81-layer-2" data-x="335" data-y="18" data-width="['1252']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: 1252px; max-width: 1252px; white-space: normal; font-size: 36px; line-height: 38px; font-weight: 100; color: rgb(100, 100, 100); font-family: Roboto; visibility: inherit; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; max-height: none; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">
                                                        Zipatile - Tất Cả Trong Bộ Điều Khiển
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 456px; top: 92px; z-index: 6;">
                                            <div class="tp-loop-wrap" style="position:absolute;">
                                                <div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
                                                    <div class="tp-caption Fashion-BigDisplay   tp-resizeme" id="slide-81-layer-3" data-x="104" data-y="92" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 300; color: rgb(100, 100, 100); font-family: Roboto; visibility: inherit; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 2px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">
                                                        Giải phóng sức mạnh của nền tảng Zipato với bộ điều khiển tự động tiên tiến nhất trên thế giới
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 354px; top: 143px; z-index: 7;">
                                            <div class="tp-loop-wrap" style="position:absolute;">
                                                <div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
                                                    <div class="tp-caption   tp-resizeme" id="slide-81-layer-5" data-x="2" data-y="143" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-responsive_offset="on" style="z-index: 7; visibility: inherit; transition: none 0s ease 0s ; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">
                                                        <img src="/images/Zipatile-Spec.jpg" alt="" data-ww="1161px" data-hh="456px" data-no-retina="" style="width: 1161px; height: 456px; transition: none 0s ease 0s ; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px;" width="1100" height="400">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-78" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-delay="3000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                                        <!-- MAIN IMAGE -->
                                        <div class="slotholder" style="width: 100%; height: 100%; visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://www.zipato.com/wp-content/plugins/revslider/admin/assets/images/transparent.png" style="background-color:#ffffff" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="" width="1100" height="400">--><div class="tp-bgimg defaultimg" style="background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-image: url(&quot;https://www.zipato.com/wp-content/plugins/revslider/admin/assets/images/transparent.png&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://www.zipato.com/wp-content/plugins/revslider/admin/assets/images/transparent.png"></div></div>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 637px; top: 21px; z-index: 5;">
                                            <div class="tp-loop-wrap" style="position:absolute;">
                                                <div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
                                                    <div class="tp-caption   tp-resizeme" id="slide-78-layer-2" data-x="285" data-y="21" data-width="['1252']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: 1252px; max-width: 1252px; white-space: normal; font-size: 36px; line-height: 38px; font-weight: 100; color: rgb(100, 100, 100); font-family: Roboto; visibility: hidden; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; max-height: none; opacity: 0; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">
                                                        Zipabox – modular automation controller
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 439px; top: 86px; z-index: 6;">
                                            <div class="tp-loop-wrap" style="position:absolute;">
                                                <div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
                                                    <div class="tp-caption Fashion-BigDisplay   tp-resizeme" id="slide-78-layer-3" data-x="87" data-y="86" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 300; color: rgb(100, 100, 100); font-family: Roboto; visibility: hidden; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 2px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">
                                                        Unleash the full power of the Zipato platform with the most advanced automation controller in the world
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 383px; top: 176px; z-index: 7;">
                                            <div class="tp-loop-wrap" style="position:absolute;">
                                                <div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
                                                    <div class="tp-caption   tp-resizeme" id="slide-78-layer-4" data-x="31" data-y="176" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-responsive_offset="on" style="z-index: 7; visibility: hidden; transition: none 0s ease 0s ; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">
                                                        <img src="https://www.zipato.com/wp-content/uploads/2015/07/zipabox-with-modules.jpg" alt="" data-ww="1133px" data-hh="419px" data-no-retina="" style="width: 1133px; height: 419px; transition: none 0s ease 0s ; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px;" width="1100" height="401">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tp-static-layers">
                                </div>
                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden; width: 0%; transform: matrix(1, 0, 0, 1, 0, 0);"></div>	<div class="tp-loader spinner2" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-bullets persephone horizontal noSwipe" style="width: 33px; height: 14px; top: 100%; transform: matrix(1, 0, 0, 1, 284, -34); left: 50%; visibility: hidden; opacity: 0;"><div class="tp-bullet selected" style="left: 0px; top: 0px;"></div><div class="tp-bullet" style="left: 19px; top: 0px;"></div></div>
                            </div>
                            
                        </div><!-- END REVOLUTION SLIDER -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="float:left;position:relative;width:100%;background-color:#ffffff;" id="submenu5">
    <div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#dae1e4">
        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix" style="max-width: 1200px;margin: 0 auto;position: relative;">
            <div class="items_group clearfix">
                <div class="column one column_visual " style=" float: left;margin: 0 1% 40px;"><h2 style="text-align: center;" class="tX02466">Zipato Applications - Kiểm soát hoàn toàn bất cứ nơi nào, bất cứ lúc nào</h2><p style="text-align: center;"><span style="font-size: 18px;"><span class="tX02465">Trên đường đi làm, từ văn phòng của bạn hoặc khi nằm trên một bãi biển, bạn có thể kiểm soát nhà mình ở bất cứ đâu. Bạn có thể kiểm soát hoàn toàn ngôi nhà của bạn từ màn hình của máy tính, điện thoại thông minh hoặc bất kỳ thiết bị hỗ trợ Internet nào khác. </span><br></span></p></div><div class="column one column_image ">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/images/control-from-anywhere-ui-rgbw.jpg" alt="" height="436" width="1100"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="float:left;position:relative;width:100%;background-color:#ffffff;" id="submenu6">
    <div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
        <div class="section-divider triangle down"></div><div class="section_wrapper clearfix" style="max-width: 1200px;margin: 0 auto;position: relative;">
            <div class="items_group clearfix">
                <div class="column one column_visual "><h2 style="text-align: center;" class="tX02468">Zipato Rule Creator - Dễ dàng nhưng đầy uy lực</h2><p style="text-align: center;"><span style="font-size: 18px;" class="tX02467">Zipato Rule Creator là một công cụ đồ họa trực quan dựa trên web dễ dàng sử dụng, cho phép bạn dễ dàng tạo và sửa đổi các quy tắc tự động hóa của bạn. Ấn nút và dễ dàng biết làm thế nào để xây dựng một quy tắc nhà đơn giản.</span></p></div><div class="column one column_visual rule_creator_image_box"><p><a href="/howitworks/rulecreator/"><img class="aligncenter size-full wp-image-17486" src="/images/Rule-Creator-2-1100x436.png" alt="Rule-Creator-1100x436" height="436" width="1100"></a></p></div>
            </div>
        </div>
    </div>
</div>
<script>
    function showTab(id) {
        $("#tab1").hide();
        $("#tab2").hide();
        $("#tab3").hide();
        $("#tab4").hide();
        $("#tab" + id).show();
        switch (id) {
            case 1:$('.tooltip').css('background','#4cad50');
                break;
            case 2: $('.tooltip').css('background', '#e64919');
                break;
            case 3: $('.tooltip').css('background', '#9c28b0');
                break;
            case 4: $('.tooltip').css('background', '#2298f2');
                break;
            default:$('.tooltip').css('background','#4cad50');
        }
    }
</script>