
@{
    ViewBag.Title = "Rule Creator Zipato";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<style>
    .section_wrapper2 {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .one.column {
        width: 98%;
    }

    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }

    .one-second.column {
        width: 48%;
    }

    .one-second.column {
        width: 48%;
    }

    .column.column_divider, .column-margin-0px .column {
        margin-bottom: 0;
    }

    .rule_creator_box {
        border-top: 1px solid #f5f5f5;
    }

    .section-divider.triangle.down {
        bottom: -15px;
    }

    .section-divider.triangle.down {
        bottom: -25px;
    }

    .section-divider.triangle.up, .section-divider.triangle.down {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .one.column {
        width: 98%;
    }

    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }

    .content_video.iframe {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

        .content_video.iframe iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    iframe {
        max-width: 100%;
    }

    .section_wrapper, .container, .with_aside .content_wrapper {
        max-width: 1180px;
    }

    .row, .clearfix {
        zoom: 1;
    }

    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
</style>
<link rel="stylesheet" href="/Content/creative/css/submenu.css" />
<div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name" style="margin: 0;"><h4 style="text-align: left;margin-top: 0;" class="tX02355">How It Works | Rule Creator</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-how-it-works-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15223 page "><a href="/howitworks/overviewen">Overview</a></li>
                            <li id="menu-item-15114" class="menu-item menu-item-type-post_type menu-item-object-page_item page-item-15106 menu-item-15114"><a href="/howitworks/interfacesen">Interfaces</a></li>
                            <li id="menu-item-15113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15113 current-menu-item"><a href="/howitworks/rulecreatoren">Rule Creator</a></li>
                            <li id="menu-item-15112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15112"><a href="/howitworks/compatibilityen">Compatibility</a></li>
                            <li id="menu-item-17974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17974"><a href="/howitworks/featureen">Features</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section   rule_creator_box " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual "><h2 style="text-align: center;" class="tX02417">Automate Yourself</h2><p style="text-align: center;"><span style="font-size: 16px;" class="tX02416">The Zipato Rule Creator is an Online Tool that allows easy and complete customization&nbsp;of</span><br><span style="font-size: 16px;" class="tX02415">your Zipato Home Automation System. Press play and&nbsp;see how to build a simple home Rule.</span></p></div><div class="column one column_video ">
                <div class="content_video iframe">
                    <iframe class="scale-with-grid" src="https://www.youtube.com/embed/lH3uuQRRqmY?wmode=opaque&amp;feature=youtu.be&amp;loop=1&amp;rel=0" allowfullscreen="" width="700" height="400"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section   section_h3span_block " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_visual "><h2 class="tX02421">Zipato Rule Creator</h2><h3><span style="font-size: 20px;" class="tX02420">Easy online tool that allows complete customization of your Zipato system</span></h3><p class="tX02419">Installing a smart security and remote control system will allow customers to remotely arm/disarm their system and turn on/off their lights and appliances. Some systems also have schedulers and timers to allow customers some form of automation.</p><p class="tX02418">Only the Zipato rule creator allows customers to use the full potential of their connected device. Inspired by the MIT project “Scratch”, we developed a graphical tool for easy and fun online automation programing. Using Zipato Rule Creator customers can easily create or change any automation process in their home without any previous programing or automation experience.</p></div><div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Images/rule-creator-min.png" alt="" width="550" height="322"></div></div>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual "><h2 style="text-align: center;" class="tX02423">Key Features &amp; Benefits</h2><p style="text-align: justify;" class="tX02422">Zipato Rule Creator is accessible on any platform including Mac OS, Windows and Linux—all without the need to install and maintain any application on your computer. Updates from Zipato Rule Creator to the Zipabox are wireless and can be a great benefit to an installer looking to add functionality to an existing Zipato system without the need to drive just to update the system.</p></div><div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/Images/IMG_26032015_153209-min.png" alt="" width="507" height="268"></div></div>
            </div><div class="column one-second column_visual "><p style="padding-top: 30px;"><span class="tX02428"><i class="icon-check"></i>The intuitive graphical programming tool eliminates the need for complex programming or cryptic computer code.</span><br><span class="tX02427"><i class="icon-check"></i>The powerful library of micro blocks (control functions) provide the flexibility to develop simple and complex control sequences.</span><br><span class="tX02426"><i class="icon-check"></i>Universally understood graphic symbols make control algorithms easy to understand.</span><br><span class="tX02425"><i class="icon-check"></i>Use the online tool so you can add or change something in you configuration whenever you want and from anywhere in the world.</span><br><span class="tX02424"><i class="icon-check"></i>No programming skills are required.</span></p></div>
        </div>
    </div>
</div>
