
@{
    ViewBag.Title = "Nguyên Tắc Zipato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .section_wrapper2{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
     .one.column {
        width: 98%;
    }
    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }
    .one-second.column {
        width: 48%;
    }
    .one-second.column {
        width: 48%;
    }
    .column.column_divider, .column-margin-0px .column {
        margin-bottom: 0;
    }
    .rule_creator_box {
        border-top: 1px solid #f5f5f5;
    }
    .section-divider.triangle.down {
        bottom: -15px;
    }
    .section-divider.triangle.down {
        bottom: -25px;
    }
    .section-divider.triangle.up, .section-divider.triangle.down {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }
    .one.column {
        width: 98%;
    }
    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }
    .content_video.iframe {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .content_video.iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    iframe {
        max-width: 100%;
    }
    .section_wrapper, .container, .with_aside .content_wrapper {
        max-width: 1180px;
    }
    .row, .clearfix {
        zoom: 1;
    }
    .section_wrapper, .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
</style>
<link rel="stylesheet" href="/Content/creative/css/submenu.css" />
<div class="section  no-margin sub_menu_container " style="padding-top:0px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section_wrapper2 clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name" style="margin: 0;"><h4 style="text-align: left;margin-top: 0;" class="tX02355">Hướng Dẫn | Giao diện</h4></div><div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-how-it-works-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15223 page "><a href="/howitworks/overview">Tổng quan</a></li>
                            <li id="menu-item-15114" class="menu-item menu-item-type-post_type menu-item-object-page_item page-item-15106 menu-item-15114"><a href="/howitworks/interfaces">Giao diện</a></li>
                            <li id="menu-item-15113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15113" current-menu-item><a href="/howitworks/rulecreator">Nguyên Tắc</a></li>
                            <li id="menu-item-15112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15112"><a href="/howitworks/compatibility">Tương Thích</a></li>
                            <li id="menu-item-17974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17974"><a href="/howitworks/feature">Tính Năng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section   rule_creator_box " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual "><h2 style="text-align: center;" class="tX02417">Tự động hoá</h2><p style="text-align: center;"><span style="font-size: 16px;" class="tX02416">The Zipato Rule Creator The Zipato Rule Creator là một công cụ trực tuyến cho phép sử dụng dễ dàng  việc tự quản ngôi nhà của mình thông qua hệ thống</span><br><span style="font-size: 16px;" class="tX02415"> Zipato Home Automation System. Ấn “play” và xem cách hoạt động để tạo dựng những quy tắc đơn giản về việc tự quản ngôi nhà của mình.</span></p></div><div class="column one column_video ">
                <div class="content_video iframe">
                    <iframe class="scale-with-grid" src="https://www.youtube.com/embed/lH3uuQRRqmY?wmode=opaque&amp;feature=youtu.be&amp;loop=1&amp;rel=0" allowfullscreen="" width="700" height="400"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section   section_h3span_block " style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-second column_visual "><h2 class="tX02421">Zipato Rule Creator</h2><h3><span style="font-size: 20px;" class="tX02420">Công cụ trực tuyến dễ dàng cho phép bạn hoàn chỉnh sự tuỳ biến của hệ thống Zipato</span></h3><p class="tX02419">Việc lắp đạt hệ thống bảo vệ thông minh và kiểm soát từ xa sẽ có phép khách hàng điểu khiển giám sát mọi hoạt động trong hệ thống và tắt, bật thiết bị của họ. Một số hệ thống cũng có lập trình kế hoạch và thời gian để cho phép khách hàng sử dụng những hình thức tự động hoá</p><p class="tX02418">Chỉ người tạo ra quy tắc Zipato cho phép khách hàng sử dụng toàn bộ khả năng của các thiết bị được kết nối. Lấy cảm hứng từ dự án “SCRATCH” của MIT, chúng tôi đã phát triển công cụ đồ hoạ để lập trình trực tuyến dễ dàng với những phần mềm tự động hoá. Sử dụng Zipato Rule Creator, khách hàng có thể dễ dàng tạo ra hoặc thay đổi bất cứ quy trình tự động hoá nào trong ngôi nhà của mình mà không cần bất kì chương trình trước đó hoặc những trải nghiệm trước đó về tự động hoá</p></div><div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/images/rule-creator-min.png" alt="" width="550" height="322"></div></div>
            </div>
        </div>
    </div>
</div>
<div class="section    " style="padding-top:60px; padding-bottom:0px; background-color:#ffffff">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual "><h2 style="text-align: center;" class="tX02423">Đặc điểm cốt lõi và lợi ích</h2><p style="text-align: justify;" class="tX02422">Zipato Rule Creator có thể truy cập được trên bất kì hệ điều hành nào  bao gồm cả Mac OS, Windows and Linux . Tất cả không cần phải cài đặt và duy trì trên bất kì ứng dụng nào trên máy tính của bạn. Những bản cập nhập từ Zipato Rule Creator vào Zipabox là những bản không dây và có thể mang lại lợi ích tuyệt vời cho những người cài đặt đang tìm kiếm để bổ sung thêm chức năng cho một hệ thống Zipato hiện tại mà không cần đi đâu để cập nhật hệ thống.
                </p></div><div class="column one-second column_image ">
                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="/images/IMG_26032015_153209-min.png" alt="" width="507" height="268"></div></div>
            </div><div class="column one-second column_visual "><p style="padding-top: 30px;"><span class="tX02428"><i class="icon-check"></i>Công cụ lập trình đồ hoạ trực quan xoá bỏ sự cần thiết của những lập trình phức tạp hoặc những mã máy tính khó hiểu.</span><br><span class="tX02427"><i class="icon-check"></i>Thư viện khối vi mô mạnh mẽ (những chức năng kiểm soát) cho phép phát triển một cách linh hoạt những chuỗi đơn giản hay phức tạp.</span><br><span class="tX02426"><i class="icon-check"></i>Các biểu tượng đồ hoạ được  sử dụng phổ biến giúp kiểm soát những thuật toán để trở nên dễ hiểu</span><br><span class="tX02425"><i class="icon-check"></i>Sử dụng công cụ trực tuyến sẽ giúp bạn có thể thêm hoặc thay đổi một cái gì đó trong cấu hình bạn bất cứ khi nào bạn muốn và  ở bất cứ đâu trên thế giới.</span><br><span class="tX02424"><i class="icon-check"></i>Kỹ năng lập trình không cần đến.</span></p></div>
        </div>
    </div>
</div>